<div class="container-fluid">
    <div class="col-sm-5">
        <div class="album">
            <img class="img-responsive" ng-src="{{image}}">
            <div class="title">
                <h4>{{title}}</h4>
                <h5>{{date}}</h5>
            </div>
        </div>

        <div>
            <table>
              <tr ng-repeat="song in songs">
                <td class="numberedList">{{$index+1}}.</td>
                <td><a class="songList" ng-click="setSong($index+1);">{{song}}</a></td>
              </tr>
            </table>
        </div>
    </div>

    <div id="songText" class="col-sm-7">
        <div ng-include="getSongPath()"></div>
    </div>
</div>
