<p><a NAME="DoYouWantToKnowASecret"></a><b><font size=+1>Do You Want to
Know a Secret ?</font></b>
<br><i>(Writer: John Lennon; lead vocal: George Harrison)</i>
<br>&nbsp;
<p>You'll never know how much I really love you.
<br>You'll never know how much I really care.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.
<p>I've known the secret for a week or two,
<br>Nobody knows, just we two.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.