<p><a NAME="AskMeWhy"></a><b><font size=+1>Ask Me Why</font></b>
<br><i>(Writer: Lennon, McCartney; lead vocal: Lennon)</i>
<br>&nbsp;
<p>I love you, 'cause you tell me things I want to know.
<br>And it's true that it really only goes to show,
<br>That I know,
<br>That I, I, I, I should never, never, never be blue.
<p>Now you're mine, my happiness still makes me cry.
<br>And in time, you'll understand the reason why,
<br>If I cry,
<br>It's not because I'm sad, but you're the only love that I've ever had.
<p>I can't believe it's happened to me
<br>I can't conceive of any more misery.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.
<p>I love you, 'cause you tell me things I want to know.
<br>And it's true that it really only goes to show,
<br>That I know,
<br>That I, I, I, I should never, never, never be blue.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.
<p>I can't believe it's happened to me.
<br>I can't conceive of any more misery.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.