<p><a NAME="LoveMeDo"></a><b><font size=+1>Love Me Do</font></b>
<br><i>(Writers, lead vocals: Lennon, McCartney)</i>
<br>&nbsp;
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Someone to love,
<br>Somebody new.
<br>Someone to love,
<br>Someone like you.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<br>Yeah, love me do.
<br>Whoa, oh, love me do.