<p><a NAME="Misery"></a><b><font size=+1>Misery</font></b>
<br><i>(Writer, lead vocal: Lennon, McCartney)</i>
<br>&nbsp;
<p>The world is treating me bad... Misery.
<p>I'm the kind of guy,
<br>Who never used to cry,
<br>The world is treatin' me bad... Misery!
<p>I've lost her now for sure,
<br>I won't see her no more,
<br>It's gonna be a drag... Misery!
<p>I'll remember all the little things we've done
<br>Can't she see she'll always be the only one, only one.
<p>Send hewr back to me,
<br>'Cause everyone can see
<br>Without her I will be in misery
<p>I'll remember all the little things we've done.
<br>She'll remember and she'll miss her only one, lonely one.
<p>Send her back to me,
<br>'Cause everyone can see,
<br>Without her I will be in misery (oh oh oh)
<br>In misery (ooh ee ooh ooh)
<br>My misery (la la la la la la)
</p>
