<P><A NAME="GoodNight"></A><B><FONT SIZE=+1>Good Night</FONT></B>
<BR><I>(Writer: Lennon; lead vocal: Starr)</I>
<BR>&nbsp;

<P>Now it's time to say good night
<BR>Good night Sleep tight
<BR>Now the sun turns out his light
<BR>Good night Sleep tight
<BR>Dream sweet dreams for me
<BR>Dream sweet dreams for you.

<P>Close your eyes and I'll close mine
<BR>Good night Sleep tight
<BR>Now the moon begins to shine
<BR>Good night Sleep tight
<BR>Dream sweet dreams for me
<BR>Dream sweet dreams for you.

<P>Close your eyes and I'll close mine
<BR>Good night Sleep tight
<BR>Now the sun turns out his light
<BR>Good night Sleep tight
<BR>Dream sweet dreams for me
<BR>Dream sweet dreams for you.

<P>Good night Good night Everybody
<BR>Everybody everywhere
<BR>Good night.