<P><A NAME="BackInTheUSSR"></A><B><FONT SIZE=+1>Back in the U.S.S.R.</FONT></B>
<BR><I>(Writer, lead vocal: PaulMcCartney)</I>
<BR>&nbsp;

<P>Flew in from Miami Beach BOAC
<BR>Didn't get to bed last night
<BR>On the way the paper bag was on my knee
<BR>Man I had a dreadful flight
<BR>I'm back in the U.S.S.R.
<BR>You don't know how lucky you are boy
<BR>Back in the U.S.S.R.

<P>Been away so long I hardly knew the place
<BR>Gee it's good to be back home
<BR>Leave it till tomorrow to unpack my case
<BR>Honey disconnect the phone
<BR>I'm back in the U.S.S.R.
<BR>You don't know how lucky you are boy
<BR>Back in the U.S.S.R.

<P>Well the Ukraine girls really knock me out
<BR>They leave the West behind
<BR>And Moscow girls make me sing and shout
<BR>That Georgia's always on my mind.

<P>I'm back in the U.S.S.R.
<BR>You don't know how lucky you are boys
<BR>Back in the U.S.S.R.

<P>Show me round your snow peaked mountains way down south
<BR>Take me to your daddy's farm
<BR>Let me hear your balalaika's ringing out
<BR>Come and keep your comrade warm.
<BR>I'm back in the U.S.S.R.
<BR>You don't know how lucky you are boys
<BR>Back in the U.S.S.R.