<P><A NAME="Don'tPassMeBy"></A><B><FONT SIZE=+1>Don't Pass Me By</FONT></B>
<BR><I>(Writer, lead vocal: Ringo Starr)</I>
<BR>&nbsp;

<P>I listen for your footsteps
<BR>Coming up the drive
<BR>Listen for your footsteps
<BR>But they don't arrive
<BR>Waiting for your knock dear
<BR>On my old front door
<BR>I don't hear it
<BR>Does it mean you don't love me any more.

<P>I hear the clock a'ticking
<BR>On the mantel shelf
<BR>See the hands a'moving
<BR>But I'm by myself
<BR>I wonder where you are tonight
<BR>And why I'm by myself
<BR>I don't see you
<BR>Does it mean you don't love me any more.

<P>Don't pass me by don't make me cry don't make me blue
<BR>'Cause you know darling I love only you
<BR>You'll never know it hurt me so
<BR>How I hate to see you go
<BR>Don't pass me by don't make me cry

<P>I'm sorry that I doubted you
<BR>I was so unfair
<BR>You were in a car crash
<BR>And you lost your hair
<BR>You said you would be late
<BR>About an hour or two
<BR>I said that's alright I'm waiting here
<BR>Just waiting to hear from you.