<P><A NAME="CryBabyCry"></A><B><FONT SIZE=+1>Cry Baby Cry</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Cry baby cry
<BR>Make your mother sigh
<BR>She's old enough to know better.

<P>The king of Marigold was in the kitchen
<BR>Cooking breakfast for the queen
<BR>The queen was in the parlour
<BR>Playing piano for the children of the king.

<P>Cry baby cry
<BR>Make your mother sigh
<BR>She's old enough to know better
<BR>So cry baby cry.

<P>The king was in the garden
<BR>Picking flowers for a friend who came to play
<BR>The queen was in the playroom
<BR>Painting pictures for the childrens holiday.

<P>Cry baby cry
<BR>Make your mother sigh
<BR>She's old enough to know better
<BR>So cry baby cry.

<P>The duchess of Kircaldy always smiling
<BR>And arriving late for tea
<BR>The duke was having problems
<BR>With a message at the local bird and bee.

<P>Cry baby cry
<BR>Make your mother sigh
<BR>She's old enough to know better
<BR>So cry baby cry.

<P>At twelve o'clock a meeting round the table
<BR>For a seance in the dark
<BR>With voices out of nowhere
<BR>Put on specially by the children for a lark.

<P>Cry baby cry
<BR>Make your mother sigh
<BR>She's old enough to know better
<BR>So cry baby cry cry cry cry baby
<BR>Make your mother sigh.

<P>She's old enough to know better
<BR>Cry baby cry
<BR>cry cry cry
<BR>Make your mother sigh
<BR>She's old enough to know better
<BR>So cry baby cry.