<P><A NAME="LongLongLong"></A><B><FONT SIZE=+1>Long, Long, Long</FONT></B>
<BR><I>(Writer, double-tracked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>It's been a long long long time,
<BR>How could I ever have lost you
<BR>When I loved you.

<P>It took a long long long time
<BR>Now I'm so happy I found you
<BR>How I love you

<P>So many tears I was searching,
<BR>So many tears I was wasting, oh. Oh--

<P>Now I can see you, be you
<BR>How can I ever misplace you
<BR>How I want you
<BR>Oh I love you
<BR>Your know that I need you.
<BR>Ooh I love you.