<P><A NAME="HelterSkelter"></A><B><FONT SIZE=+1>Helter Skelter</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>When I get to the bottom I go back to the top of the slide
<BR>Where I stop and I turn and I go for a ride
<BR>Till I get to the bottom and I see you again.

<P>Do you, don't you want me to love you
<BR>I'm coming down fast but I'm miles above you
<BR>Tell me tell me tell me come on tell me the answer
<BR>You may be a lover but you ain't no dancer.

<P>Helter skelter helter skelter
<BR>Helter skelter.

<P>Will you, won't you want me to make you
<BR>I'm coming down fast but don't let me break you
<BR>Tell me tell me tell me the answer
<BR>You may be a lover but you ain't no dancer.

<P>Look out helter skelter helter skelter
<BR>Helter skelter

<P>Look out, cause here she comes.

<P>When I get to the bottom I go back to the top of the slide
<BR>And I stop and I turn and I go for a ride
<BR>And I get to the bottom and I see you again

<P>Well do you, don't you want me to make you
<BR>I'm coming down fast but don't let me break you
<BR>Tell me tell me tell me the answer
<BR>You may be a lover but you ain't no dancer.

<P>Look out helter skelter helter skelter
<BR>Helter skelter
<BR>Look out helter skelter
<BR>She's coming down fast
<BR>Yes she is
<BR>Yes she is.