<P><A NAME="MotherNature'sSon"></A><B><FONT SIZE=+1>Mother Nature's Son</FONT></B>
<BR><I>(Writer, double-tracked lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>Born a poor young country boy--Mother Nature's son
<BR>All day long I'm sitting singing songs for everyone.

<P>Sit beside a mountain stream--see her waters rise
<BR>Listen to the pretty sound of music as she flies.

<P>Find me in my field of grass--Mother Nature's son
<BR>Swaying daises sing a lazy song beneath the sun.

<P>Mother Nature's son.