<P><A NAME="HeyBulldog"></A><B><FONT SIZE=+1>Hey Bulldog</FONT></B>
<BR><I>(Writer: Lennon,McCartney; lead vocal:&nbsp; Lennon)</I>
<BR>&nbsp;

<P>Sheepdog
<BR>Standing in the rain,
<BR>Bullfrog
<BR>Doing it again
<BR>Some think that happinness is measured out in years
<BR>You don't know what it's like to listen to your fears

<P>Child-like
<BR>No one understands,
<BR>Jack knife
<BR>In your sweaty hands,
<BR>Some think that happiness is measured out in miles
<BR>What makes you think you're something special when you smile

<P>You can talk to me, if you're lonely you can talk to me

<P>Big man
<BR>Walking in the park
<BR>Whigwam
<BR>Frightened of the dark
<BR>Some think that happiness is measured out in you
<BR>You think you know me but you haven't got a clue

<P>You can talk to me, if you're lonely you can talk to me