<P><A NAME="OnlyANothernSong"></A><B><FONT SIZE=+1>Only A Northern Song</FONT></B>
<BR><I>(Writer, double-tracked lead vocal: Harrison)</I>
<BR>&nbsp;

<P>If you're listening to this song
<BR>You may think the chords are going wrong
<BR>But they're not;
<BR>He just wrote it like that.
<BR>It doesn't really matter what chords I play
<BR>What words I say or time of day it is
<BR>As it's only a Northern song
<BR>It doesn't really matter what clothes I wear
<BR>Or how I fare or if my hair is brown
<BR>When it's only a Northern song.

<P>When you're listening late at night
<BR>You may think the band are not quite right
<BR>But they are, they just play it like that
<BR>It doesn't really matter what chords I play
<BR>What words I say or time of day it is
<BR>As it's only a Northern song.
<BR>It doesn't really matter what clothes I wear
<BR>Or how I fare or if my hair is brown
<BR>When it's only a Northern song.
<BR>If you think the harmony
<BR>Is a little dark and out of key
<BR>You're correct, there's nobody there.
<BR>It doesn't really matter what chords I play
<BR>What words I say or time of day it is
<BR>And I told you there's no one there.