<P><B>* Yellow Submarine Score *</B>
<BR><I>(Composed by George Martin; performed by George Martin's Orchestra)</I>
<BR>&nbsp;

<P><A NAME="Pepperland"></A><B><FONT SIZE=+1>Pepperland</FONT></B><B></B>

<P><A NAME="SeaOfTimeSeaOfHoles"></A><B><FONT SIZE=+1>Medley: Sea of Time &amp; Sea of
Holes</FONT></B>

<P><A NAME="SeaOfMonsters"></A><B><FONT SIZE=+1>Sea of Monsters</FONT></B>

<P><A NAME="MarchOfTheMeanies"></A><B><FONT SIZE=+1>March of the Meanies</FONT></B>

<P><A NAME="PepperlandLaidWaste"></A><B><FONT SIZE=+1>Pepperland Laid Waste</FONT></B>

<P><A NAME="YellowSubmarineInPepperland"></A><B><FONT SIZE=+1>Yellow Submarine in Pepperland</FONT></B>
<BR><I>(Writer: Lennon, McCartney)</I>