<P><A NAME="Maxwell'sSilverHammer"></A><B><FONT SIZE=+1>Maxwell's Silver
Hammer</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>Joan was quizzical, studied metaphysical
<BR>Science in the home
<BR>Late nights all alone with a test-tube
<BR>Ohh-oh-oh-oh...
<BR>Maxwell Edison majoring in medicine
<BR>Calls her on the phone
<BR>"Can I take you out to the pictures
<BR>Joa-oa-oa-oan?"
<BR>But as she's getting ready to go
<BR>A knock comes on the door...

<P>Bang, bang, Maxwell's silver hammer
<BR>Came down upon her head
<BR>Bang, bang, Maxwell's silver hammer
<BR>Made sure that she was dead

<P>Back in school again Maxwell plays the fool again
<BR>Teacher gets annoyed
<BR>Wishing to avoid an unpleasant sce-e-e-ene
<BR>She tells Max to stay when the class has gone away
<BR>So he waits behind
<BR>Writing 50 times "I must not be so-o-o-oo..."
<BR>But when she turns her back on the boy
<BR>He creeps up from behind

<P>Bang, bang, Maxwell's silver hammer
<BR>Came down upon her head
<BR>Bang, bang, Maxwell's silver hammer
<BR>Made sure that she was dead

<P>B.C. Thirty-One said "we caught a dirty one"
<BR>Maxwell stands alone
<BR>Painting testimonial pictures ohh-oh-oh-oh
<BR>Rose and Valerie screaming from the gallery
<BR>Say he must go free (Maxwell must go free)
<BR>The judge does not agree and he tells them so-o-o-oo
<BR>But as the words are leaving his lips
<BR>A noise comes from behind

<P>Bang, bang, Maxwell's silver hammer
<BR>Came down upon his head
<BR>Bang, Bang, Maxwell's silver hammer
<BR>Made sure that he was dead