<P><A NAME="YouNeverGiveMeYourMoney"></A><B><FONT SIZE=+1>You Never Give
Me Your Money</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>You never give me your money
<BR>You only give me your funny paper
<BR>and in the middle of negotiations
<BR>you break down

<P>I never give you my number
<BR>I only give you my situation
<BR>and in the middle of investigation
<BR>I break down

<P>Out of college, money spent
<BR>See no future, pay no rent
<BR>All the money's gone, nowhere to go
<BR>Any jobber got the sack
<BR>Monday morning, turning back
<BR>Yellow lorry slow, nowhere to go
<BR>But oh, that magic feeling, nowhere to go
<BR>Oh, that magic feeling
<BR>Nowhere to go

<P>One sweet dream
<BR>Pick up the bags and get in the limousine
<BR>Soon we'll be away from here
<BR>Step on the gas and wipe that tear away
<BR>One sweet dream came true today
<BR>Came true today
<BR>Came true today (yes it did)

<P>One two three four five six seven,
<BR>All good children go to Heaven