<P><A NAME="SheCameInThroughTheBathroomWindow"></A><B><FONT SIZE=+1>She
Came In Through The Bathroom Window</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>She came in through the bathroom window
<BR>Protected by a silver spoon
<BR>But now she sucks her thumb and wanders
<BR>By the banks of her own lagoon

<P>Didn't anybody tell her?
<BR>Didn't anybody see?
<BR>Sunday's on the phone to Monday,
<BR>Tuesday's on the phone to me

<P>She said she'd always been a dancer
<BR>She worked at 15 clubs a day
<BR>And though she thought I knew the answer
<BR>Well I knew what I could not say.

<P>And so I quit the police department
<BR>And got myself a steady job
<BR>And though she tried her best to help me
<BR>She could steal but she could not rob

<P>Didn't anybody tell her?
<BR>Didn't anybody see?
<BR>Sunday's on the phone to Monday,
<BR>Tuesday's on the phone to me
<BR>Oh yeah.