<P><A NAME="MeanMr.Mustard"></A><B><FONT SIZE=+1>Mean Mr. Mustard</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Mean Mister Mustard sleeps in the park
<BR>Shaves in the dark trying to save paper
<BR>Sleeps in a hole in the road
<BR>Saving up to buy some clothes
<BR>Keeps a ten-bob note up his nose
<BR>Such a mean old man
<BR>Such a mean old man

<P>His sister Pam works in a shop
<BR>She never stops, she's a go-getter
<BR>Takes him out to look at the queen
<BR>Only place that he's ever been
<BR>Always shouts out something obscene
<BR>Such a dirty old man
<BR>Dirty old man