<P><A NAME="Because"></A><B><FONT SIZE=+1>Because</FONT></B>
<BR><I>(Writer: Lennon; harmony lead vocal: Lennon, McCartney, Harrison)</I>
<BR>&nbsp;

<P>Because the world is round it turns me on
<BR>Because the world is round...aaaaaahhhhhh

<P>Because the wind is high it blows my mind
<BR>Because the wind is high......aaaaaaaahhhh

<P>Love is all, love is new
<BR>Love is all, love is you

<P>Because the sky is blue, it makes me cry
<BR>Because the sky is blue.......aaaaaaaahhhh

<P>Aaaaahhhhhhhhhh....