<P><A NAME="CarryThatWeight"></A><B><FONT SIZE=+1>Carry That Weight</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>Boy, you gotta carry that weight
<BR>Carry that weight a long time
<BR>Boy, you gotta carry that weight
<BR>Carry that weight a long time

<P>I never give you my pillow
<BR>I only send you my invitation
<BR>And in the middle of the celebrations
<BR>I break down

<P>Boy, you gotta carry that weight
<BR>Carry that weight a long time
<BR>Boy, you gotta carry that weight
<BR>Carry that weight a long time