<P><A NAME="AcrossTheUniverse"></A><B><FONT SIZE=+1>Across The Universe</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Words are flowing out like endless rain into a paper cup,
<BR>They slither while they pass, they slip away across the
<BR>universe
<BR>Pools of sorrow, waves of joy are drifting through my open
<BR>mind,
<BR>Possessing and caressing me.
<BR>Jai guru deva om
<BR>Nothing's gonna change my world,
<BR>Nothing's gonna change my world.

<P>Images of broken light which dance before me like a million
<BR>eyes,
<BR>That call me on and on across the universe,
<BR>Thoughts meander like a restless wind inside a letter box
<BR>they
<BR>Tumble blindly as they make their way
<BR>Across the universe
<BR>Jai guru deva om
<BR>Nothing's gonna change my world,
<BR>Nothing's gonna change my world.

<P>Sounds of laughter shades of earth are ringing
<BR>Through my open views inviting and inciting me
<BR>Limitless undying love which shines around me like a
<BR>million suns, it calls me on and on
<BR>Across the universe
<BR>Jai guru deva om
<BR>Nothing's gonna change my world,
<BR>Nothing's gonna change my world.