<P><A NAME="TheLongAndWindingRoad"></A><B><FONT SIZE=+1>The Long And Winding
Road</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>The long and winding road that leads to your door,
<BR>Will never disappear,
<BR>I've seen that road before It always leads me here,
<BR>leads me to your door.

<P>The wild and windy night the rain washed away,
<BR>Has left a pool of tears crying for the day.
<BR>Why leave me standing here, let me know the way
<BR>Many times I've been alone and many times I've cried
<BR>Anyway you'll never know the many ways I've tried, but
<BR>Still they lead me back to the long and winding road
<BR>You left me standing here a long, long time ago
<BR>Don't leave me waiting here, lead me to you door
<BR>Da, da, da, da--