<P><A NAME="I'veGotAFeeling"></A><B><FONT SIZE=+1>I've Got A Feeling</FONT></B>
<BR><I>(Writer, lead vocal: Lennon, McCartney)</I>
<BR>&nbsp;

<P>I've got a feeling, a feeling deep inside
<BR>Oh yeah, Oh yeah.
<BR>I've got a feeling, a feeling I can't hide
<BR>Oh no. Oh no, Oh no,
<BR>Yeah I've got a feeling.

<P>Oh please believe me, I'd hate to miss the train
<BR>Oh yeah, Oh yeah.
<BR>And if you leave me I won't be late again
<BR>Oh no, Oh no, Oh no.
<BR>Yeah I've got a feeling yeah.

<P>All these years I've been wandering around,
<BR>Wondering how come nobody told me
<BR>All that I was looking for was somebody
<BR>Who looked like you.

<P>Ev'rybody had a hard year
<BR>Ev'rybody had a good time
<BR>Ev'rybody had a wet dream,
<BR>Ev'rybody saw the sunshine
<BR>Oh yeah, Oh yeah.
<BR>Ev'rybody had a good year,
<BR>Ev'rybody let their hair down,
<BR>Ev'rybody pulled their socks up,
<BR>Ev'rybody put their foot down.
<BR>Oh yeah, Oh yeah.

<P>[Oh my soul... so odd.]