<P><A NAME="ForYouBlue"></A><B><FONT SIZE=+1>For You Blue</FONT></B>
<BR><I>(Writer, lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>[Queen says no to pot smoking FBI members]

<P>Because you're sweet and lovely girl I love you,
<BR>Because you're sweet and lovely girl it's true,
<BR>I love you more than ever girl I do.
<BR>I want you in the morining girl I love you,
<BR>I want you at the moment I feel blue,
<BR>I'm living ev'ry moment girl for you.
<BR>I've loved you from the moment I saw you,
<BR>You looked at me that's all you had to do,
<BR>I feel it now I hope you feel it too.
<BR>Because you're sweet and lovely girl I love you,
<BR>Because you're sweet and lovely girl it's true,
<BR>I love you more than ever girl I do.
<BR>I really love you.