<P><A NAME="LetItBe"></A><B><FONT SIZE=+1>Let it Be</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>When I find myself in times of trouble
<BR>Mother Mary comes to me
<BR>Speaking words of wisdom, let it be.
<BR>And in my hour of darkness
<BR>She is standing right in front of me
<BR>Speaking words of wisdom, let it be.
<BR>Let it be, let it be.
<BR>Whisper words of wisdom, let it be.

<P>And when the broken hearted people
<BR>Living in the world agree,
<BR>There will be an answer, let it be.
<BR>For though they may be parted there is
<BR>Still a chance that they will see
<BR>There will be an answer, let it be.
<BR>Let it be, let it be. Yeah
<BR>There will be an answer, let it be.

<P>And when the night is cloudy,
<BR>There is still a light that shines on me,
<BR>Shine on until tomorrow, let it be.
<BR>I wake up to the sound of music
<BR>Mother Mary comes to me
<BR>Speaking words of wisdom, let it be.
<BR>Let it be, let it be.
<BR>There will be an answer, let it be.
<BR>Let it be, let it be,
<BR>Whisper words of wisdom, let it be.