<P><A NAME="LittleChild"></A><B><FONT SIZE=+1>Little Child</FONT></B>
<BR><I>(Writer, lead vocal: Lennon, McCartney)</I>
<BR>&nbsp;

<P>Little child, little child,
<BR>Little child, won't you dance with me?
<BR>I'm so sad and lonely,
<BR>Baby take a chance with me.

<P>If you want someone
<BR>To make you feel so fine,
<BR>Then we'll have some fun
<BR>When you're mine, all mine,
<BR>So come, come on, come on.

<P>Little child, little child,
<BR>Little child, won't you dance with me?
<BR>I'm so sad and lonely,
<BR>Baby take a chance with me.

<P>When you're by my side,
<BR>You're the only one,
<BR>Don't run and hide,
<BR>Just come on, come on,
<BR>So come on, come on, come on.