<P><A NAME="ItWon'tBeLong"></A><B><FONT SIZE=+1>It Won't Be Long</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Ev'ry night when ev'rybody has fun,
<BR>Here am I sitting all on my own,
<BR>It won't be long yeh, yeh,
<BR>It won't be long yeh, yeh,
<BR>It won't be long yeh, yeh,
<BR>Till I belong to you.

<P>Since you left me I'm so alone,
<BR>Now you're coming, you're coming home,
<BR>I'll be good like I know I should,
<BR>You're coming home, you're coming home.

<P>Ev'ry night the tears come down from my eyes,
<BR>Ev'ry day I've done nothing but cry.
<BR>It won't be long yeh, yeh.

<P>Since you left me I'm so alone,
<BR>Now you're coming, you're coming home,
<BR>I'll be good like I know I should,
<BR>You're coming home, you're coming home.

<P>Ev'ry day we'll be happy, I know,
<BR>Now I know that you won't leave me no more.
<BR>It won't be long yeh, yeh.