<P><A NAME="RollOverBeethoven"></A><B><FONT SIZE=+1>Roll Over Beethoven</FONT></B>
<BR><I>(Writer: Chuck Berry; double-tracked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>Well gonna write a little letter
<BR>Gonna mail it to my local D.J.
<BR>It's a rockin' little record
<BR>I want my jockey to play
<BR>Roll over Beethoven
<BR>I gotta hear it again today

<P>You know my temperature's risin'
<BR>And the jukebox's blowin' a fuse
<BR>My hearts beatin' rhythm
<BR>And my soul keeps singing the blues
<BR>Roll over Beethoven
<BR>And tell Tchaikovsky the news

<P>I got a rockin' pneumonia
<BR>I need a shot of rhythm and blues
<BR>I think I got it off the writer
<BR>Sittin' down by the rhythm review
<BR>Roll over Beethoven
<BR>We're rockin' in two by two

<P>Well if you fell you like it
<BR>Well get your lover and reel and rock it
<BR>Roll it over and move on up
<BR>Just jump around and reel and rock it
<BR>Roll it over
<BR>Roll over Beethoven
<BR>A rockin' in two by two , oh

<P>Well early in the mornin'
<BR>I'm a givin' you the warnin'
<BR>Don't you step on my blue suede showes
<BR>Hey little little
<BR>Gonna play my fiddle
<BR>Ain't got nothing to lost
<BR>Roll over Beethoven
<BR>And tell Tchaikovsky the news

<P>You know she winks like a glow worm
<BR>Dance like a spinnin' top
<BR>She got a crazy partner
<BR>Oughta see 'em reel an rock
<BR>Long as she's got a dime
<BR>The music will never stop
<BR>Roll over Beethoven
<BR>Roll over Beethoven
<BR>Roll over Beethoven
<BR>Roll over Beethoven
<BR>Roll over Beethoven
<BR>And dig these rhythm and blues