<P><A NAME="PleaseMisterPostman"></A><B><FONT SIZE=+1>Please Mister Postman</FONT></B>
<BR><I>(Writer: Brian Holland, Robert Bateman, Berry Gordy jr.; double-tracked
lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Wait, oh yes wait a minute mister postman
<BR>Wait, wait mister postman

<P>Mister postman look and see
<BR>You got a letter in your bag for me
<BR>I been waiting such a long time
<BR>Since I heard from that girl of mine

<P>There must be some word today
<BR>From my girlfriend so far away
<BR>Please mister postman look and see
<BR>If there's a letter, a letter for me
<BR>I been standing here waiting mister postman
<BR>So patiently
<BR>For just a card or just a letter
<BR>Saying she's returning home to me

<P>So many days you passed me by
<BR>See the tear standing in my eye
<BR>You didn't stop to make me feel better
<BR>By leaving me a card or a letter

<P>You gotta wait a minute, wait a minute
<BR>You gotta wait a minute, wait a minute
<BR>You gotta wait a minute, wait a minute
<BR>You gotta check it and see, one more time for me

<P>Wait Wait Wait
<BR>Deliver the letter, the sooner the better

<P>Wait