<P><A NAME="DevilInHerHeart"></A><B><FONT SIZE=+1>Devil in Her Heart</FONT></B>
<BR><I>(Writer: Richard B.Drapkin; lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>She's got the devil in her heart
<BR>But her eyes they tantalize
<BR>She's gonna tear your heart apart
<BR>Oh her lips are really thrilling

<P>I'll take my chances
<BR>for romance is
<BR>So important to me
<BR>She'll never hurt me
<BR>She won't desert me
<BR>She's an angel sent to me

<P>She's got the devil in her heart
<BR>No, no, this I can't believe
<BR>She's gonna tear your heart apart
<BR>No, no nay will she deceive

<P>I can't believe that she'll ever ever go
<BR>Not when she hugs and says she loves me so
<BR>She'll never hurt em
<BR>She won't desert me
<BR>Listen can't you see

<P>She's got the devil in her heart
<BR>Oh, no, no, no, this I can't believe
<BR>She's gonna tear your heart apart
<BR>No no nay will she deceive

<P>Don't take chances if your romance is
<BR>So important to you
<BR>She'll never hurt me
<BR>She won't desert me
<BR>She's an angel sent to me

<P>She's got the devil in her heart
<BR>Oh, no, no, no, no this I can't believe
<BR>She's gonna tear your heart apart
<BR>No, no nay will she deceive

<P>She's got the devil in her heart
<BR>No she's an angel sent to me
<BR>She's got the devil in her heart
<BR>No she's an angel sent to me