<P><A NAME="TillThereWasYou"></A><B><FONT SIZE=+1>Till There was You</FONT></B>
<BR><I>(Writer: Meredith Wilson; lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>There were bells on a hill
<BR>But I never heard them ringing
<BR>No I never heard them at all
<BR>Till there was you

<P>There were birds in the sky
<BR>But I never saw them winging
<BR>No I never saw them at all
<BR>Till there was you

<P>Then there was music and wonderful roses
<BR>They tell me in sweet fragrant meadows of dawn and you

<P>There was love all around
<BR>But I never heard it singing
<BR>No I never heard it at all
<BR>Till there was you

<P>Then there was music and wonderful roses
<BR>They tell me in sweet fragrant meadows of dawn and you

<P>There was love all around
<BR>But I never heard it singing
<BR>No I never heard it at all
<BR>Till there was you

<P>Till there was you