<P><A NAME="I'mHappyJustToDanceWithYou"></A><B><FONT SIZE=+1>I'm
Happy Just to Dance with You</FONT></B>
<BR><I>(Writer: John Lennon; lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>Before this dance is through
<BR>I think I'll love you too
<BR>I'm so happy when you dance with me
<BR>I don't want or need to hold your hand
<BR>Well it's only try and understand
<BR>'cause there's really nothing I would rather do
<BR>'cause I'm happy just to dance with you

<P>I don't need to kiss or hold you tight
<BR>I just want to dance with you all night
<BR>In this world there's nothing I would rather do
<BR>'cause I'm happy just to dance with you
<BR>Just to dance with you
<BR>It's everything I need

<P>Before this dance is through
<BR>I think I'll love you too
<BR>I'm so happy when you dance with me
<BR>If somebody tries to take my place
<BR>Let's pretend we just can't see his face
<BR>In this world there's nothing I would rather do
<BR>'cause I'm happy just to dance with you
<BR>Just to dance with you
<BR>It's everything I need

<P>Before this dance is through
<BR>I think I'll love you too
<BR>I'm so happy when you dance with me
<BR>If somebody tries to take my place
<BR>Let's pretend we just can't see his face
<BR>In this world there's nothing I would rather do
<BR>'cause I'm happy just to dance with you
<BR>Just to dance with you
<BR>It's everything I need

<P>I discovered I'm in love with you
<BR>'cause I'm happy just to dance with you