<P><A NAME="WhenIGetHome"></A><B><FONT SIZE=+1>When I Get Home</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Whoa-ho, whoa-ho,
<BR>I got a whole lot of things to tell her,
<BR>When I get home.
<BR>Come on, out of my way,
<BR>'cause I'm gonna see my baby today,
<BR>I've got a whole lot of things I've gotta say
<BR>To her.

<P>Whoa-ho, whoa-ho,
<BR>I got a whole lot of things to tell her,
<BR>When I get home.
<BR>Come on if you please,
<BR>I've got no time for trivialities,
<BR>I've got a girl who's waiting home for me tonight.

<P>Whoa-ho, whoa-ho,
<BR>I got a whole lot of things to tell her,
<BR>When I get home.
<BR>When I'm getting home tonight, I'm gonna
<BR>Hold her tight.
<BR>I'm gonna love her till the cows come home,
<BR>I bet I'll love her more,
<BR>Till I walk out that door
<BR>Again.

<P>Come on, let me through,
<BR>I've got so many things, I've got to do,
<BR>I've got no business being here with you
<BR>This way.

<P>Whoa-ho, whoa-ho,
<BR>I've got a whole lot of things to tell her
<BR>When I get home - yeah.