<P><A NAME="AndILoveHer"></A><B><FONT SIZE=+1>And I Love Her</FONT></B>
<BR><I>(Writer: Lennon, McCartney; double-tracked lead vocal: McCartney)</I>
<BR>&nbsp;

<P>I give her all my love
<BR>That's all I do
<BR>And if you saw my love
<BR>You'd love her too
<BR>I love her

<P>She gives me ev'rything
<BR>And tenderly
<BR>The kiss my lover brings
<BR>She brings to me
<BR>And I love her

<P>A love like ours
<BR>Could never die
<BR>As long as I
<BR>Have you near me

<P>Bright are the stars that shine
<BR>Dark is the sky
<BR>I know this love of mine
<BR>Will never die
<BR>And I love her

<P>Bright are the stars that shine
<BR>Dark is the sky
<BR>I know this love of mine
<BR>Will never die
<BR>And I love her