<P><A NAME="AnyTimeAtAll"></A><B><FONT SIZE=+1>Any Time At All</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Any time at all, any time at all, any time at all,
<BR>All you've gotta do is call and I'll be there.

<P>If you need somebody to love, just look into my eyes,
<BR>I'll be there to make you feel right.
<BR>If you're feeling sorry and sad, I'd really sympathize.
<BR>Don't you be sad, just call me tonight.

<P>Any time at all, any time at all, any time at all,
<BR>All you've gotta do is call and I'll be there.
<BR>If the sun has faded away, I'll try to make it shine,
<BR>There's nothing I won't do
<BR>If you need a shoulder to cry on I hope it will be mine.
<BR>Call me tonight, and I'll come to you.

<P>Any time at all, any time at all, any time at all,
<BR>All you've gotta do is call and I'll be there.
<BR>Any time at all, all you've gotta do is call and I'll be there.