<P><A NAME="TellMeWhy"></A><B><FONT SIZE=+1>Tell Me Why</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Tell me why you cried, and why you lied to me,
<BR>Tell me why you cried, and why you lied to me.

<P>Well I gave you ev'rything I had,
<BR>But you left me sitting on my own,
<BR>Did you have to treat me oh so bad,
<BR>All I do is hang my head and moan.

<P>Tell me why you cried, and why you lied to me,
<BR>Tell me why you cried, and why you lied to me.

<P>If there's something I have said or done,
<BR>Tell me what and I'll apologize,
<BR>If you don't really can't go on,
<BR>Holding back these tears in my eyes.

<P>Tell me why you cried, and why you lied to me,
<BR>Tell me why you cried, and why you lied to me.

<P>Well I beg you on my bended knees,
<BR>If you'll only listen to my pleas,
<BR>Is there anything I can do,
<BR>'cause I really can't stand it, I'm so in love with you.

<P>Tell me why you cried, and why you lied to me.