<P><A NAME="YouCan'tDoThat"></A><B><FONT SIZE=+1>You Can't Do That</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>I got something to say that might cause you pain,
<BR>If I catch you talking to that boy again,

<P>I'm gonna let you down,
<BR>And leave you flat,
<BR>Because I told you before, oh,
<BR>You can't do that.

<P>Well, it's the second time, I've caught you talking to him,
<BR>Do I have to tell you one more time, I think it's a sin,
<BR>I think I'll let you down.
<BR>Let you down and leave you flat,
<BR>Gonna let you down and leave you flat,
<BR>Because I've told you before, oh,
<BR>You can't do that.

<P>Ev'rybody's green,
<BR>'cause I'm the one, who won your love,
<BR>But if it's seen,
<BR>You're talking that way they'd laugh in my face.
<BR>So please listen to me, if you wanna stay mine,
<BR>I can't help my feelings, I'll go out of my mind.

<P>I know I'll let you down,
<BR>And leave you flat,
<BR>Gonna let you down and leave you flat,
<BR>Because I've told you before, oh,
<BR>You can't do that.