<P><A NAME="Can'tBuyMeLove"></A><B><FONT SIZE=+1>Can't Buy Me Love</FONT></B>
<BR><I>(Writers: Lennon, McCartney; lead vocal: McCartney)</I>
<BR>&nbsp;

<P>Can't buy me love, love
<BR>Can't buy me love

<P>I'll buy you a diamond ring my friend if it makes you feel alright
<BR>I'll get you anything my friend if it makes you feel alright
<BR>'Cause I don't care too much for money, money can't buy me love

<P>I'll give you all I got to give if you say you love me too
<BR>I may not have a lot to give but what I got I'll give to you
<BR>I don't care too much for money, money can't buy me love

<P>Can't buy me love, everybody tells me so
<BR>Can't buy me love, no no no, no

<P>Say you don't need no diamond ring and I'll be satisfied
<BR>Tell me that you want the kind of thing that money just can't buy
<BR>I don't care too much for money, money can't buy me love