<P><A NAME="EightDaysAWeek"></A><B><FONT SIZE=+1>Eight Days a Week</FONT></B>
<BR><I>(Writer: Lennon, McCartney; lead vocal: Lennon)</I>
<BR>&nbsp;

<P>Ooh I need your love babe,
<BR>Guess you know it's true.
<BR>Hope you need my love babe,
<BR>Just like I need you.
<BR>Hold me, love me, hold me, love me.
<BR>Ain't got nothin'but love babe,
<BR>Eight days a week.

<P>Love you ev'ry day girl,
<BR>Always on my mind.
<BR>One thing I can say girl,
<BR>Love you all the time.
<BR>Hold me, love me, hold me, love me.
<BR>Ain't got nothin'but love babe,
<BR>Eight days a week.

<P>Eight days a week
<BR>I love you.
<BR>Eight days a week
<BR>Is not enough to show I care.

<P>Ooh I need your love babe, ...

<P>Eight days a week ...

<P>Love you ev'ry ...

<P>Eight days a week. Eight days a week. Eight days a week.