<P><A NAME="Baby'sInBlack"></A><B><FONT SIZE=+1>Baby's in Black</FONT></B>
<BR><I>(Writer, lead vocal: Lennon, McCartney)</I>
<BR>&nbsp;

<P>Oh dear, what can I do?
<BR>Baby's in black and I'm feeling blue,
<BR>Tell me, oh what can I do?
<BR>She thinks of him and so she dresses in black,
<BR>And though he'll never come back, she's dressed in black.
<BR>Oh dear, what can I do?
<BR>Baby's in black and I'm feeling blue,
<BR>Tell me, oh what can I do?
<BR>I think of her, but she only thinks of him,
<BR>And though it's only a whim, she thinks of him.
<BR>Oh how long will it take,
<BR>Till she sees the mistake she has made?
<BR>Dear what can I do?
<BR>Baby's in black and I'm feeling blue,
<BR>Tell me, oh what can I do?
<BR>Oh how long it will take,
<BR>Till she sees the mistake she has made?
<BR>Dear what can I do?
<BR>Baby's in black and I'm feeling blue,
<BR>Tell me, oh what can I do?
<BR>She thinks of him and so she dresses in black,
<BR>And though he'll never come back, she's dressed in black.
<BR>Oh dear, what can I do?
<BR>Baby's in black and I'm feeling blue,
<BR>Tell me, oh what can I do?