<P><A NAME="EveryLittleThing"></A><B><FONT SIZE=+1>Every Little Thing</FONT></B>
<BR><I>(Writer, lead vocal: Lennon, McCartney)</I>
<BR>&nbsp;

<P>When I'm walking beside her
<BR>People tell me I'm lucky.
<BR>Yes, I know I'm a lucky guy.
<BR>I remember the first time
<BR>I was lonely without her.
<BR>Can't stop thinking about her now.
<BR>Every little thing she does,
<BR>She does for me, yeah.
<BR>And you know the things she does,
<BR>She does for me, oooh.

<P>When I'm with her I'm happy
<BR>Just to know that she loves me.
<BR>Yes, I know that she loves me now.
<BR>There is one thing I'm sure of,
<BR>I will love her forever.
<BR>For I know love will never die.
<BR>Every little thing she does,
<BR>She does for me, yeah.
<BR>And you know the things she does,
<BR>She does for me, oooh.

<P>Every little thing she does,
<BR>She does for me, yeah.
<BR>And you know the things she does,
<BR>She does for me, oooh.
<BR>Every little thing.
<BR>Every little thing.
<BR>Every little ...