<P><A NAME="What You'reDoing"></A><B><FONT SIZE=+1>What You're Doing</FONT></B>
<BR><I>(Writer: Lennon, McCartney; lead vocal: McCartney)</I>
<BR>&nbsp;

<P>Look what you're doing, I'm feeling blue and lonely,
<BR>Would it be too much to ask you,
<BR>What you're doing to me?

<P>You got me running and there's no fun in it,
<BR>Why should it be so much to ask of you,
<BR>What you're doing to me?

<P>I've been waiting here for you,
<BR>Wond'ring what you're gonna do,
<BR>Should you need a love that's true,
<BR>It's me.

<P>Please stop your lying, you've got me crying, girl,
<BR>Why should it be so much to ask of you,
<BR>What you're doing to me?

<P>What you're doing to me.