<P><A NAME="Medley"></A><B><FONT SIZE=+1>Medley: (a): Kansas City</FONT></B>
<I>(Writer: Jerry Leiber, Mike Stoller; lead vocal: Paul McCartney)</I>
<BR><B><FONT SIZE=+1>(b): Hey, Hey, Hey, Hey</FONT></B> <I>(Writer: Richard
Penniman; lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>Ah Kansas City
<BR>Going to get my baby back home
<BR>I'm going to Kansas City
<BR>Going to get my baby back home
<BR>Well its a long long time too
<BR>My baby's been gone

<P>Ah, Kansas City
<BR>Going get my baby one time
<BR>I'm going to Kansas City
<BR>Going get my baby one time
<BR>Its a just a 1-2-3-4,
<BR>5-6-7-8-9

<P>Hey hey hey hey
<BR>(hey hey hey hey)
<BR>Hey, baby
<BR>(hey, baby)
<BR>Ooh now girl
<BR>(yeah, yeah)
<BR>I said yeah now, huh
<BR>(girl, girl)
<BR>Now now now now tell me baby
<BR>What's been wrong with you

<P>Hey hey hey hey
<BR>(hey hey hey hey)
<BR>Hey now baby
<BR>(hey baby)
<BR>Ooh now girl
<BR>(yeah, yeah)
<BR>I said yeah now, huh
<BR>(girl, girl)
<BR>Now now now now tell me baby
<BR>What's been wrong with you

<P>I said bye
<BR>(bye bye bye bye)
<BR>Bye bye baby bye bye
<BR>(bye bye bye bye)
<BR>So long
<BR>(so long so long)
<BR>Bye bye baby I'm gone
<BR>(bye bye bye bye)
<BR>I said bye bye baby
<BR>Bye, bye, bye, bye

<P>Bye now bye
<BR>(bye bye bye bye)
<BR>Bye now baby bye
<BR>(bye bye bye bye)
<BR>....