<P><A NAME="Everybody'sTryingToBeMyBaby"></A><B><FONT SIZE=+1>Everybody's
Trying to be My Baby</FONT></B>
<BR><I>(Writer: Carl Perkins; double-tracked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>Well they took some honey from the tree,
<BR>Dressed it up and they called it me.
<BR>Everybody's trying to be my baby,
<BR>Everybody's trying to be my baby,
<BR>Everybody's trying to be my baby now.

<P>Woke up last night, half past four,
<BR>Wicked woman knocking at my door.

<P>Went out last night, I didn't stay late,
<BR>Called her home, had a nice teen date.