<P><A NAME="HoneyDon't"></A><B><FONT SIZE=+1>Honey Don't</FONT></B>
<BR><I>(Writer: Carl Perkins; lead vocal: Ringo Starr)</I>
<BR>&nbsp;

<P>Well how can you say you will when you won't,
<BR>Say you do, baby, when you don't?

<P>Tell the truth now, is love real?

<P>But oh well honey don't, well honey don't,
<BR>Honey don't, honey don't, honey don't
<BR>I say you will when you won't, oh honey, don't.

<P>Well I love you, baby, and you ought to know
<BR>I like the way you wear your clothes,
<BR>Everything about you is so doggone sweet,
<BR>You got that sand all over your feet.

<P>[Oh, rock on George, one time for me.]
<BR>[I feel fine.]
<BR>[I'm sad.]

<P>Well sometimes I love you on a Saturday night,
<BR>Sunday morning you don't look right.
<BR>You've been out painting the town,
<BR>uh baby, been stepping around.

<P>[Oh, rock on George, for Ringo one time.]