<P><A NAME="AnotherGirl"></A><B><FONT SIZE=+1>Another Girl</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>For I have found another girl, another girl.
<BR>You're making me say that I've got nobody but you,
<BR>But as from today, well, I've got somebody that's new.
<BR>I ain't no fool and I don't take what I don't want,
<BR>For I have got another girl, another girl.
<BR>She's sweeter than all the girls and I met quite a few.
<BR>Nobody in all the world can do what she can do.
<BR>And so I'm telling you, "This time you'd better stop."
<BR>For I have got another girl. Another girl.
<BR>Who will love me till the end.
<BR>Through thick and thin
<BR>She will always be my friend.
<BR>I don't want to say that I've been unhappy with you,
<BR>But, as from today, well, I've seen somebody that's new.
<BR>I ain't no fool and I don't take what I don't want,
<BR>For I have got another girl. Another girl.
<BR>Who will love me till the end.
<BR>Through thick and thin
<BR>She will always be my friend.
<BR>I don't want to say that I've been unhappy with you,
<BR>But, as from today, well, I've seen somebody that's new.
<BR>I ain't no fool and I don't take what I don't want,
<BR>For I have got another girl. Another girl.
<BR>Another girl.