<P><A NAME="YouLikeMeTooMuch"></A><B><FONT SIZE=+1>You Like Me Too Much</FONT></B>
<BR><I>(Writer, lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>Though you've gone away this morning,
<BR>You'll be back again tonight,
<BR>Telling me there'll be no next time
<BR>If I don't just don't treat you right,
<BR>You'll never leave me and you know it's true,
<BR>'cause you like me too much and I like you.

<P>You've tried before to leave me,
<BR>But you haven't got the nerve
<BR>To walk out and make me lonely
<BR>Which is all that I deserve,

<P>You'll never leave me and you know it's true,
<BR>'cause you like me too much and I like you.
<BR>I really do, and it's nice when you believe me,
<BR>If you leave me

<P>I will follow I will follow you
<BR>And bring you back where you belong
<BR>'cause I could't really stand it,
<BR>I admit that I was wrong,

<P>I wouldn't let you leave me 'cause it's true,
<BR>'cause you like me too much and I like you.

<P>If you leave me

<P>I will follow I will follow you
<BR>and bring you back where you belong
<BR>'cause I could't really stand it,
<BR>I admit that I was wrong,

<P>I wouldn't let you leave me 'cause it's true,
<BR>'cause you like me too much and I like you,
<BR>'cause you like me too much and I like you.