<P><A NAME="You'veGotToHideYourLoveAway"></A><B><FONT SIZE=+1>You've Got
to Hide Your Love Away</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Here I stand head in hand
<BR>Turn my face to the wall
<BR>If she's gone I can't go on
<BR>Feelin' two-foot small

<P>Everywhere people stare
<BR>Each and every day
<BR>I can see them laugh at me
<BR>And I hear them say

<P>Hey you've got to hide your love away
<BR>Hey you've got to hide your love away

<P>How could I even try
<BR>I can never win
<BR>Hearing them, seeing them
<BR>In the state I'm in

<P>How could she say to me
<BR>Love will find a way
<BR>Gather round all you clowns
<BR>Let me hear you say

<P>Hey you've got to hide your love away
<BR>Hey you've got to hide your love away