<P><A NAME="TheNightBefore"></A><B><FONT SIZE=+1>The Night Before</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>We said our goodbyes, ah, the night before.
<BR>Love was in your eyes, ah, the night before.
<BR>Now today I find you have changed your mind.
<BR>Treat me like you did the night before.

<P>Were you telling lies, ah, the night before?
<BR>Was I so unwise, ah, the night before?
<BR>When I held you near you were so sincere.
<BR>Treat me like you did the night before.

<P>Last night is a night I will remember you by.
<BR>When I think of things we did it makes me wanna cry.

<P>We said our goodbye, ah, the night before.
<BR>Love was in your eyes, ah, the night before.
<BR>Now today I find you have changed your mind.
<BR>Treat me like you did the night before.

<P>When I held you near you were so sincere.
<BR>Treat me like you did the night before.

<P>Last night is a night I will remember you by.
<BR>When I think of things we did it makes me wanna cry.

<P>Were you telling lies, ah, the night before?
<BR>Was I so unwise, ah, the night before?
<BR>When I held you near you were so sincere.
<BR>Treat me like you did the night before,
<BR>like the night before.