<P><A NAME="You'reGoingToLoseThatGirl"></A><B><FONT SIZE=+1>You're Going
to Lose That Girl</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>You're going to lose that girl,
<BR>You're going to lose that girl.
<BR>If you don't take her out tonight,
<BR>She's going to change her mind,
<BR>And I will take her out tonight,
<BR>And I will treat her kind.

<P>You're going to lose that girl,
<BR>You're going to lose that girl.
<BR>If you don't treat her right, my friend,
<BR>You're going to find her gone,
<BR>'cause I will treat her right, and then
<BR>You'll be the lonely one.

<P>You're going to lose that girl,
<BR>You're going to lose that girl.
<BR>I'll make a point
<BR>Of taking her away from you, yeah,
<BR>The way you treat her what else can I do?

<P>You're going to lose that girl,
<BR>You're going to lose that girl.
<BR>I'll make a point
<BR>Of taking her away from you, yeah,
<BR>The way you treat her what else can I do?
<BR>If you don't take her out tonight,
<BR>She's going to change her mind,
<BR>And I will take her out tonight,
<BR>And I will treat her kind.
<BR>You're going to lose that girl,
<BR>You're going to lose that girl