<P><A NAME="WhatGoesOn"></A><B><FONT SIZE=+1>What Goes On?</FONT></B>
<BR><I>(Writer: Lennon,McCartney,Starr; lead vocal: Starr)</I>
<BR>&nbsp;

<P>What goes on in your heart?
<BR>What goes on in your mind?
<BR>You are tearing me apart
<BR>When you treat me so unkind
<BR>What goes on in your mind

<P>The other day I saw you
<BR>As I walked along the road
<BR>But when I saw him with you
<BR>I could feel my future fold
<BR>It's so easy for a girl like you to lie
<BR>Tell me why

<P>What goes on in your heart?
<BR>What goes on in your mind?
<BR>You are tearing me apart
<BR>When you treat me so unkind
<BR>What goes on in your mind

<P>I met you in the morning
<BR>waiting for the tides of time
<BR>But now the tide is turning
<BR>I can see that I was blind
<BR>It's so easy for a girl like you to lie
<BR>Tell me why
<BR>What goes on in your heart?

<P>I used to think of no on else
<BR>But you were just the same
<BR>You didn't even think of me
<BR>As someone with a name
<BR>Did you mean to break my heart and watch me die
<BR>Tell me why

<P>What goes on in your heart?
<BR>What goes on in your mind?
<BR>You are tearing me apart
<BR>When you treat me so unkind
<BR>What goes on in your mind
<BR>In your mind
<BR>In your mind