<P><A NAME="Wait"></A><B><FONT SIZE=+1>Wait</FONT></B>
<BR><I>(Writer, lead vocal: Lennon,McCartney)</I>
<BR>&nbsp;

<P>It's been a long time
<BR>Now I'm coming back home
<BR>I've been away now
<BR>Oh how I've been alone
<BR>Wait till I come back to your side
<BR>We'll forget the tears we've cried

<P>But if your heart breaks
<BR>Don't wait, turn me away
<BR>And if your heart's strong
<BR>Hold on, I won't delay
<BR>Wait till I come back to your side
<BR>We'll forget the tears we've cried

<P>I feel as though
<BR>You ought to know
<BR>That I've been good
<BR>As good as I can be
<BR>And if you do
<BR>I'll trust in you
<BR>And know that you
<BR>Will wait for me

<P>It's been a long time
<BR>Now I'm coming back home
<BR>I've been away now
<BR>Oh how I've been alone
<BR>Wait till I come back to your side
<BR>We'll forget the tears we've cried

<P>I feel as though
<BR>You ought to know
<BR>That I've been good
<BR>As good as I can be
<BR>And if you do
<BR>I'll trust in you
<BR>And know that you
<BR>Will wait for me

<P>It's been a long time
<BR>Now I'm coming back home
<BR>I've been away now
<BR>Oh how I've been alone
<BR>Wait till I come back to your side
<BR>We'll forget the tears we've cried

<P>It's been a long time
<BR>Now I'm coming back home
<BR>I've been away now
<BR>Oh, how I've been alone