<P><A NAME="TheWord"></A><B><FONT SIZE=+1>The Word</FONT></B>
<BR><I>(Writer, lead vocal:Lennon,McCartney)</I>
<BR>&nbsp;

<P>Say the word and you'll be free
<BR>Say the word and be like me
<BR>Say the word I'm thinking of
<BR>Have you heard the word is love?
<BR>It's so fine, It's sunshine
<BR>It's the word, love
<BR>In the beginning I misunderstood
<BR>But now I've got it, the word is good

<P>Spread the word and you'll be free
<BR>Spread the word and be like be
<BR>Spread the work I'm thinking of
<BR>Have you heard the word is love?
<BR>It's so fine, It's sunshine
<BR>It's the word, love
<BR>Every where I go I hear it said
<BR>In the good and bad books that I have read

<P>Say the word and you'll be free
<BR>Say the word and be like me
<BR>Say the word I'm thinking of
<BR>Have you heard the word is love?
<BR>It's so fine, It's sunshine
<BR>It's the word, love

<P>Give the word a chance to say
<BR>That the word is just the way
<BR>It's the word I'm thinking of
<BR>And the only word is love
<BR>It's so fine, It's sunshine
<BR>It's the word, love
<BR>Now that I know what I feel must be right
<BR>I'm here to show everybody the light

<P>Say the word and you'll be free
<BR>Say the word and be like me
<BR>Say the word I'm thinking of
<BR>Have you heard the word is love?
<BR>It's so fine, It's sunshine
<BR>It's the word, love