<P><A NAME="RufForYourLife"></A><B><FONT SIZE=+1>Run For Your Life</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Well I'd rather see you dead, little girl
<BR>Than to be with another man
<BR>You better keep your head, little girl
<BR>Of I won't know where I am

<P>You better run for your life if you can, little girl
<BR>Hide your head in the sand little girl
<BR>Catch you with another man
<BR>That's the end'a little girl

<P>Well I know that I'm a wicked guy
<BR>And I was born with a jealous mind
<BR>And I can't spend my whole life
<BR>Trying just to make you toe the line

<P>You better run for your life if you can, little girl
<BR>Hide your head in the sand little girl
<BR>Catch you with another man
<BR>That's the end'a little girl

<P>Let this be a sermon
<BR>I mean everything I've said
<BR>Baby, I'm determined
<BR>And I'd rather see you dead

<P>You better run for your life if you can, little girl
<BR>Hide your head in the sand little girl
<BR>Catch you with another man
<BR>That's the end'a little girl

<P>I'd rather see you dead, little girl
<BR>Than to be with another man
<BR>You better keep your head, little girl
<BR>Of I won't know where I am

<P>You better run for your life if you can, little girl
<BR>Hide your head in the sand little girl
<BR>Catch you with another man
<BR>That's the end'a little girl
<BR>Na, na, na
<BR>Na, na, na
<BR>Na, na, na
<BR>Na, na, na