<P><A NAME="IfINeededSomeone"></A><B><FONT SIZE=+1>If I Needed Someone</FONT></B>
<BR><I>(Writer, double-traked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>If I needed someone to love
<BR>You're the one that I'd be thinking of
<BR>If I needed someone

<P>If I had some more time to spend
<BR>That I guess I'd be with you my friend
<BR>If I needed someone
<BR>Had you come some other day
<BR>Then it might not have been like this
<BR>But you see now I'm too much in love

<P>Carve your number on my wall
<BR>And maybe you will get a call from me
<BR>If I needed someone
<BR>Ah, ah, ah, ah

<P>If I had some more time to spend
<BR>That I guess I'd be with you my friend
<BR>If I needed someone
<BR>Had you come some other day
<BR>Then it might not have been like this
<BR>But you see now I'm too much in love

<P>Carve your number on my wall
<BR>And maybe you will get a call from me
<BR>If I needed someone
<BR>Ah, ah