<P><A NAME="Taxman"></A><B><FONT SIZE=+1>Taxman</FONT></B>
<BR><I>(Write: Harrison, Lennon; double-tracked lead vocal:Harrison)</I>
<BR>&nbsp;

<P>Let me tell you how it will be
<BR>There's one for you, nineteen for me
<BR>'Cause I'm the taxman, yeah, I'm the taxman

<P>Should five per cent appear too small
<BR>Be thankful I don't take it all
<BR>'Cause I'm the taxman, yeah I'm the taxman

<P>If you drive a car, I'll tax the street,
<BR>If you try to sit, I'll tax your seat.
<BR>If you get too cold I'll tax the heat,
<BR>If you take a walk, I'll tax your feet.

<P>Don't ask me what I want it for
<BR>If you don't want to pay some more
<BR>'Cause I'm the taxman, yeah, I'm the taxman

<P>Now my advice for those who die
<BR>Declare the pennies on your eyes
<BR>'Cause I'm the taxman, yeah, I'm the taxman
<BR>And you're working for no one but me.