<P><A NAME="EleanorRigby"></A><B><FONT SIZE=+1>Eleanor Rigby</FONT></B>
<BR><I>(Writer: Lennon, McCartney; double-tracked&nbsp; lead vocal: McCartney)</I>
<BR>&nbsp;

<P>Ah, look at all the lonely people
<BR>Ah, look at all the lonely people

<P>Eleanor Rigby picks up the rice in the church where a
<BR>wedding has been
<BR>Lives in a dream
<BR>Waits at the window, wearing the face that she keeps in a
<BR>jar by the door
<BR>Who is it for?

<P>All the lonely people
<BR>Where do they all come from ?
<BR>All the lonely people
<BR>Where do they all belong ?

<P>Father McKenzie writing the words of a sermon that no
<BR>one will hear
<BR>No one comes near.
<BR>Look at him working. Darning his socks in the night when
<BR>there's nobody there
<BR>What does he care?

<P>All the lonely people
<BR>Where do they all come from?
<BR>All the lonely people
<BR>Where do they all belong?

<P>Eleanor Rigby died in the church and was buried along
<BR>with her name
<BR>Nobody came
<BR>Father McKenzie wiping the dirt from his hands as he
<BR>walks from the grave
<BR>No one was saved

<P>All the lonely people
<BR>Where do they all come from?
<BR>All the lonely people
<BR>Where do they all belong?