<P><A NAME="GoodDaySunshine"></A><B><FONT SIZE=+1>Good Day Sunshine</FONT></B>
<BR><I>(Writer, lead vocal: PaulMcCartney)</I>
<BR>&nbsp;

<P>Good Day Sunshine, Good Day Sunshine, Good Day Sunshine

<P>I need to laugh and when the sun is out
<BR>I've got something I can laugh about
<BR>I feel good in a special way
<BR>I'm in love and it's a sunny day

<P>Good Day Sunshine, Good Day Sunshine, Good Day Sunshine

<P>We take a walk, the sun is shining down
<BR>Burns my feet as they touch the ground

<P>Good Day Sunshine, Good Day Sunshine, Good Day Sunshine

<P>Then we'd lie beneath the shady tree
<BR>I love her and she's loving me
<BR>She feels good, she knows she's looking fine
<BR>I'm so proud to know that she is mine.

<P>Good Day Sunshine, Good Day Sunshine, Good Day Sunshine