<P><A NAME="IWantToTellYou"></A><B><FONT SIZE=+1>I Want To Tell You</FONT></B>
<BR><I>(Writer, double-tracked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>I want to tell you
<BR>My head is filled with things to say
<BR>When you're here
<BR>All those words, they seem to slip away

<P>When I get near you,
<BR>The games begin to drag me down
<BR>It's all right
<BR>I'll make you maybe next time around

<P>But if I seem to act unkind
<BR>It's only me, it's not my mind
<BR>That is confusing things.

<P>I want to tell you
<BR>I feel hung up but I don't know why,
<BR>I don't mind
<BR>I could wait forever, I've got time

<P>Sometimes I wish I knew you well,
<BR>Then I could speak my mind and tell you
<BR>Maybe you'd understand

<P>I want to tell you
<BR>I feel hung up but I don't know why,
<BR>I don't mind
<BR>I could wait forever, I've got time, I've got time, I've got time