<P><A NAME="SheSaidSheSaid"></A><B><FONT SIZE=+1>She Said, She Said</FONT></B>
<BR><I>(Writer, lead vocal: JohnLennon)</I>
<BR>&nbsp;

<P>She said I know what it's like to be dead
<BR>I know what it is to be sad
<BR>And she's making me feel like I've never been born.

<P>I said "Who put all those things in your hair
<BR>Things that ake me feel that I'm mad
<BR>And you're making me feel like I've never been born."

<P>She said "you don't understand what I said"
<BR>I said "No, no, no, you're wrong"
<BR>When I was a boy everything was right
<BR>Everything was right

<P>I said "Even though you know what you know
<BR>I know that I'm ready to leave
<BR>'Cause you're making me feel like I've never been born."

<P>She said "you don't understand what I said"
<BR>I said "No, no, no, you're wrong"
<BR>When I was a boy everything was right
<BR>Everything was right

<P>I said "Even though you know what you know
<BR>I know that I'm ready to leave
<BR>'Cause you're making me feel like I've never been born."

<P>She said I know what it's like to be dead
<BR>I know what it is to be sad...