<P><A NAME="LucyInTheSkyWithDiamonds"></A><B><FONT SIZE=+1>Lucy in the
Sky with Diamonds</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Picture yourself in a boat on a river,
<BR>With tangerine trees and marmalade skies
<BR>Somebody calls you, you answer quite slowly,
<BR>A girl with kaleidoscope eyes.
<BR>Cellophane flowers of yellow and green,
<BR>Towering over your head.
<BR>Look for the girl with the sun in her eyes,
<BR>And she's gone.
<BR>Lucy in the sky with diamonds.
<BR>Follow her down to a bridge by a fountain
<BR>Where rocking horse people eat marshmellow pies,
<BR>Everyone smiles as you drift past the flowers,
<BR>That grow so incredibly high.
<BR>Newspaper taxis appear on the shore,
<BR>Waiting to take you away.
<BR>Climb in the back with your head in the clouds,
<BR>And you're gone.
<BR>Lucy in the sky with diamonds,
<BR>Picture yourself on a train in a station,
<BR>With plasticine porters with looking glass ties,
<BR>Suddenly someone is there at the turnstyle,
<BR>The girl with the kaleidoscope eyes.