<P><A NAME="WithinYouWithoutYou"></A><B><FONT SIZE=+1>Within You Without
You</FONT></B>
<BR><I>(Writer, lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>We were talking-about the space between us all
<BR>And the people-who hide themselves behind a wall of illusion
<BR>Never glimpse the truth-then it's far too late-when they pass away.
<BR>We were talking-about the love we all could share-when we find it
<BR>To try our best to hold it there-with our love
<BR>With our love-we could save the world-if they only knew.
<BR>Try to realise it's all within yourself
<BR>No-one else can make you change
<BR>And to see you're really only very small,
<BR>And life flows within you and without you.
<BR>We were talking-about the love that's gone so cold and the people,
<BR>Who gain the world and lose their soul-
<BR>They don't know-they can't see-are you one of them?
<BR>When you've seen beyond yourself-then you may find, peace of mind,
<BR>Is waiting there-
<BR>And the time will come when you see
<BR>we're all one, and life flows on within you and without you.