<P><A NAME="ADayInTheLife"></A><B><FONT SIZE=+1>A Day in the Life</FONT></B>
<BR><I>(Writer, lead vocal: Lennon, McCartney)</I>
<BR>&nbsp;

<P>I read the news today oh boy
<BR>About a lucky man who made the grade
<BR>And though the news was rather sad
<BR>Well I just had to laugh
<BR>I saw the photograph.
<BR>He blew his mind out in a car
<BR>He didn't notice that the lights had changed
<BR>A crowd of people stood and stared
<BR>They'd seen his face before
<BR>Nobody was really sure
<BR>If he was from the House of Lords.
<BR>I saw a film today oh boy
<BR>The English Army had just won the war
<BR>A crowd of people turned away
<BR>but I just had to look
<BR>Having read the book.
<BR>I'd love to turn you on

<P>Woke up, fell out of bed,
<BR>Dragged a comb across my head
<BR>Found my way downstairs and drank a cup,
<BR>And looking up I noticed I was late.
<BR>Found my coat and grabbed my hat
<BR>Made the bus in seconds flat
<BR>Found my way upstairs and had a smoke,
<BR>Somebody spoke and I went into a dream.

<P>I read the news today oh boy
<BR>Four thousand holes in Blackburn, Lancashire
<BR>And though the holes were rather small
<BR>They had to count them all
<BR>Now they know how many holes it takes to fill the Albert Hall.
<BR>I'd love to turn you on