<P><A NAME="GettingBetter"></A><B><FONT SIZE=+1>Getting Better</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>It's getting better all the time
<BR>I used to get mad at my school
<BR>The teachers who taught me weren't cool
<BR>You're holding me down, turning me round
<BR>Filling me up with your rules.

<P>I've got to admit it's getting better
<BR>A little better all the time
<BR>I have to admit it's getting better
<BR>It's getting better since you've been mine.

<P>Me used to be a angry young man
<BR>Me hiding me head in the sand
<BR>You gave me the word
<BR>I finally heard
<BR>I'm doing the best that I can.

<P>I've got to admit it's getting better
<BR>I used to be cruel to my woman
<BR>I beat her and kept her apart from the things that she loved
<BR>Man I was mean but I'm changing my scene
<BR>And I'm doing the best that I can.
<BR>I admit it's getting better
<BR>A little better all the time
<BR>Yes I admit it's getting better
<BR>It's getting better since you've been mine