<P><A NAME="WithALittleHelpFromMyFriends"></A><B><FONT SIZE=+1>With a Little
Help From My Friends</FONT></B>
<BR><I>(Writers: Lennon,McCartney; lead vocal: Ringo Starr)</I>
<BR>&nbsp;

<P>What would you think if I sang out of tune,
<BR>Would you stand up and walk out on me.
<BR>Lend me your ears and I'll sing you a song,
<BR>And I'll try not to sing out of key.
<BR>I get by with a little help from my friends,
<BR>I get high with a little help from my friends,
<BR>Going to try with a little help from my friends.

<P>What do I do when my love is away.
<BR>(Does it worry you to be alone)
<BR>How do I feel by the end of the day
<BR>(Are you sad because you're on your own)

<P>No I get by with a little help from my friends...

<P>Do you need anybody,
<BR>I need somebody to love.
<BR>Could it be anybody
<BR>I want somebody to love.

<P>Would you believe in a love at first sight,
<BR>Yes I'm certain that it happens all the time.
<BR>What do you see when you turn out the light,
<BR>I can't tell you, but I know it's mine.
<BR>Oh I get by with a little help from my friends...

<P>Do you need anybody,
<BR>I just need somebody to love,
<BR>Could it be anybody,
<BR>I want somebody to love.

<P>I get by with a little help from my friends,
<BR>Yes I get by with a little help from my friends,
<BR>With a little help from my friends.