<P><A NAME="Sgt.Pepper'sLonelyHeartsClubBand"></A><B><FONT SIZE=+1>Sgt.
Pepper's Lonely Hearts Club Band</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>It was twenty years ago today,
<BR>Sgt. Pepper taught the band to play
<BR>They've been going in and out of style
<BR>But they're guaranteed to raise a smile.
<BR>So may I introduce to you
<BR>The act you've known for all these years,
<BR>Sgt. Pepper's Lonely Hearts Club Band.

<P>We're Sgt. Pepper's Lonely Hearts Club Band,
<BR>We hope you will enjoy the show,
<BR>We're Sgt. Pepper's Lonely Hearts Club Band,
<BR>Sit back and let the evening go.
<BR>Sgt. Pepper's lonely, Sgt. Pepper's lonely,
<BR>Sgt. Pepper's Lonely Hearts Club Band.

<P>It's wonderful to be here,
<BR>It's certainly a thrill.
<BR>You're such a lovely audience,
<BR>We'd like to take you home with us,
<BR>We'd love to take you home.

<P>I don't really want to stop the show,
<BR>But I thought that you might like to know,
<BR>That the singer's going to sing a song,
<BR>And he wants you all to sing along.
<BR>So let me introduce to you
<BR>The one and only Billy Shears
<BR>And Sgt. Pepper's Lonely Hearts Club Band.
<BR>Billy Shears