<P><A NAME="YourMotherShouldKnow"></A><B><FONT SIZE=+1>Your Mother Should
Know</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>Let's all get up and dance to a song
<BR>That was a hit before your mother was born.
<BR>Though she was born a long, long time ago
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (...know.)
<BR>Sing it again.

<P>Let's all get up and dance to a song
<BR>That was a hit before your mother was born.
<BR>Though she was born a long, long time ago
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (...know.)

<P>Lift up your hearts and sing me a song
<BR>That was a hit before your mother was born.
<BR>Though she was born a long, long time ago
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (Aaaah.)
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (Aaaah.)
<BR>Sing it again.

<P>Da-da-da-da...
<BR>Though she was born a long, long time ago
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (Yeah.)
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (Yeah.)
<BR>Your mother should know (Your mother should...)
<BR>Your mother should know (Yeah.)