<P><A NAME="BlueJayWay"></A><B><FONT SIZE=+1>Blue Jay Way</FONT></B>
<BR><I>(Writer, double-tracked lead vocal: George Harrison)</I>
<BR>&nbsp;

<P>There's a fog upon L.A.
<BR>And my friends have lost their way
<BR>We'll be over soon they said
<BR>Now they've lost themselves instead.
<BR>Please don't be long please don't you be very long
<BR>Please don't be long or I may be asleep.

<P>Well it only goes to show
<BR>And I told them where to go
<BR>Ask a policeman on the street
<BR>There's so many there to meet
<BR>Please don't be long please don't you be very long
<BR>Please don't be long or I may be asleep.

<P>Now it's past my bed I know
<BR>And I'd really like to go
<BR>Soon will be the break of day
<BR>Sitting here in Blue Jay Way
<BR>Please don't be long please don't you be very long
<BR>Please don't be long or I may be asleep.
<BR>Please don't be long please don't you be very long
<BR>Please don't be long
<BR>Please don't be long please don't you be very long
<BR>Please don't be long
<BR>Please don't be long please don't you be very long
<BR>Please don't be long
<BR>Don't be long - don't be long - don't be long
<BR>Don't be long - don't be long - don't be long.