<P><A NAME="AllYouNeedIsLove"></A><B><FONT SIZE=+1>All You Need Is Love</FONT></B>
<BR><I>(Writer, lead vocal: John Lennon)</I>
<BR>&nbsp;

<P>Love, Love, Love.
<BR>Love, Love, Love.
<BR>Love, Love, Love.

<P>There's nothing you can do that can't be done.
<BR>Nothing you can sing that can't be sung.
<BR>Nothing you can say but you can learn how to play the
<BR>game.
<BR>It's easy.

<P>Nothing you can make that can't be made.
<BR>No one you can save that can't be saved.
<BR>Nothing you can do but you can learn how to be you in
<BR>time.
<BR>It's easy.

<P>All you need is love.
<BR>All you need is love.
<BR>All you need is love, love.
<BR>Love is all you need.

<P>All you need is love.
<BR>All you need is love.
<BR>All you need is love, love.
<BR>Love is all you need.

<P>Nothing you can know that isn't known.
<BR>Nothing you can see that isn't shown.
<BR>Nowhere you can be that isn't where you're meant to be.
<BR>It's easy.

<P>All you need is love.
<BR>All you need is love.
<BR>All you need is love, love.
<BR>Love is all you need.

<P>All you need is love (All together, now!)
<BR>All you need is love. (Everybody!)
<BR>All you need is love, love.
<BR>Love is all you need (love is all you need).

<P>Yee-hai!
<BR>Oh yeah!
<BR>She loves you, yeah yeah yeah.
<BR>She loves you, yeah yeah yeah.