<P><A NAME="HelloGoodbye"></A><B><FONT SIZE=+1>Hello, Goodbye</FONT></B>
<BR><I>(Writer, lead vocal: Paul McCartney)</I>
<BR>&nbsp;

<P>You say yes, I say no.
<BR>You say stop and I say go go go, oh no.
<BR>You say goodbye and I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello.

<P>I say high, you say low.
<BR>You say why and I say I don't know, oh no.
<BR>You say goodbye and I say hello
<BR>HELLO GOODBYE HELLO GOODBYE hello hello
<BR>HELLO GOODBYE I don't know why you say goodbye, I say hello
<BR>HELLO GOODBYE HELLO GOODBYE hello hello
<BR>HELLO GOODBYE I don't know why you say goodbye
<BR>HELLO GOODBYE I say goodbye.

<P>Why why why why why why do you say goodbye goodbye, oh no?

<P>You say goodbye and I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello.

<P>You say yes I SAY YES I say no BUT I MAY MEAN NO.
<BR>You say stop I CAN STAY and I say go go go TILL IT'S
<BR>TIME TO GO OH, oh no.
<BR>You say goodbye and I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello
<BR>Hello hello
<BR>I don't know why you say goodbye, I say goodbye
<BR>Hello hello
<BR>I don't know why you say goodbye, I say hello hello.

<P>Hela heba helloa CHA CHA, hela...