1.<a href="#ISawHerStandingThere">I Saw Her Standing There</a>
<br>&nbsp;2.<a href="#Misery">Misery</a>
<br>&nbsp;3.<a href="#Anna">Anna (Go to Him)</a>
<br>&nbsp;4.<a href="#Chains">Chains</a>
<br>&nbsp;5.<a href="#Boys">Boys</a>
<br>&nbsp;6.<a href="#AskMeWhy">Ask Me Why</a>
<br>&nbsp;7.<a href="#PleasePleaseMe">Please Please Me</a>
<br>&nbsp;8.<a href="#LoveMeDo">Love Me Do</a>
<br>&nbsp;9.<a href="#P.S.ILoveYou">P.S. I Love You</a>
<br>10.<a href="#BabyIt'sYou">Baby it's You</a>
<br>11.<a href="#DoYouWantToKnowASecret">Do You Want to Know a Secret ?</a>
<br>12.<a href="#ATasteOfHoney">A Taste of Honey</a>
<br>13.<a href="#There'sAPlace">There's a Place</a>
<br>14.<a href="#TwistAndShout">Twist and Shout</a></td>

<p><i>Release:</i> <b>22 March 1963</b>
<br><i>Label:</i> <b>Parlophone</b>
<br><i>Producer:</i> <b>George Martin</b></center>

<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<br>&nbsp;
<p><a NAME="ISawHerStandingThere"></a><b><font size=+1>I Saw Her Standing
There</font></b>
<br><i>(Writer, lead vocal: Paul McCartney)</i>
<br>&nbsp;
<p>One, two, free, four!
<p>Well, she was just seventeen,
<br>You know what I mean,
<br>And the way she looked was way beyond compare.
<br>So how could I dance with another (ooh)
<br>And I saw her standin' there.
<p>Well she looked at me, and I, I could see
<br>That before too long I'd fall in love with her.
<br>She wouldn't dance with another (whooh)
<br>And I saw her standin' there.
<p>Well, my heart went boom,
<br>When I crossed that room,
<br>And I held her hand in mine...
<p>Whoah, we danced through the night,
<br>And we held each other tight,
<br>And before too long I fell in love with her.
<br>Now I'll never dance with another (whooh)
<br>Since I saw her standing there
<p>Well, my heart went boom,
<br>When I crossed that room,
<br>And I held her hand in mine...
<p>Whoah, we danced through the night,
<br>And we held each other tight,
<br>And before too long I fell in love with her.
<br>Now I'll never dance with another (whooh)
<br>Since I saw her standing there
<br>&nbsp;
<br>&nbsp;
<p><a NAME="Misery"></a><b><font size=+1>Misery</font></b>
<br><i>(Writer, lead vocal: Lennon, McCartney)</i>
<br>&nbsp;
<p>The world is treating me bad... Misery.
<p>I'm the kind of guy,
<br>Who never used to cry,
<br>The world is treatin' me bad... Misery!
<p>I've lost her now for sure,
<br>I won't see her no more,
<br>It's gonna be a drag... Misery!
<p>I'll remember all the little things we've done
<br>Can't she see she'll always be the only one, only one.
<p>Send hewr back to me,
<br>'Cause everyone can see
<br>Without her I will be in misery
<p>I'll remember all the little things we've done.
<br>She'll remember and she'll miss her only one, lonely one.
<p>Send her back to me,
<br>'Cause everyone can see,
<br>Without her I will be in misery (oh oh oh)
<br>In misery (ooh ee ooh ooh)
<br>My misery (la la la la la la)
<br>&nbsp;
<br>&nbsp;
<p><a NAME="Anna"></a><b><font size=+1>Anna (Go To Him)</font></b>
<br><i>(Writer: Arthur Alexander; lead vocal: John Lennon)</i>
<br>&nbsp;
<p>Anna,
<br>You come and ask me, girl,
<br>To set you free, girl,
<br>You say he loves you more than me,
<br>So I will set you free,
<br>Go with him.
<br>Go with him.
<p>Anna,
<br>Girl, before you go now,
<br>I want you to know, now,
<br>That I still love you so,
<br>But if he loves you mo',
<br>Go with him.
<p>All of my life,
<br>I've been searchin' for a girl
<br>To love me like I love you.
<br>Oh, now.. But every girl I've ever had,
<br>Breaks my heart and leaves my sad.
<br>What am I, what am I supposed to do.
<p>Anna,
<br>Just one more thing, girl.
<br>You give back your ring to me, and I will set you free,
<br>Go with him.
<p>Chorus
<p>Anna,
<br>Just one more thing, girl.
<br>You give back your ring to me, and I will set you free,
<br>Go with him.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="Chains"></a><b><font size=+1>Chains</font></b>
<br><i>(Writer: Jerry Goffin, Carol King; lead vocal: George Harrison)</i>
<br>&nbsp;
<p>Chains, my baby's got me locked up in chains.
<br>And they ain't the kind that you can see.
<br>Whoa, oh, these chains of love got a hold on me, yeah.
<p>Chains, well I can't break away from these chains.
<br>Can't run around, 'cause I'm not free.
<br>Whoa, oh, these chains of love won't let me be, yeah.
<p>I wanna tell you, pretty baby,
<br>I think you're fine.
<br>I'd like to love you,
<br>But, darlin', I'm imprisoned by these...
<p>Chains, my baby's got me locked up in chains,
<br>And they ain't the kind that you can see,
<br>Oh, oh, these chains of love got a hold on me.
<p>Please believe me when I tell you,
<br>Your lips are sweet.
<br>I'd like to kiss them,
<br>But I can't break away from all of these...
<p>Chains, my baby's got me locked up in chains.
<br>And they ain't the kind that you can see.
<br>Whoa, oh, these chains of love got a hold on me, yeah.
<p>Chains, chains of love...
<br>&nbsp;
<br>&nbsp;
<p><a NAME="Boys"></a><b><font size=+1>Boys</font></b>
<br><i>(Writers: Luter Dicson, Wes Farrell; lead vocal: Ringo Starr)</i>
<br>&nbsp;
<p>I been told when a boy kiss a girl,
<br>Take a trip around the world,
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop) yeah, she say ya do. (Bop shuop)
<p>My girl says when I kiss her lips,
<br>Gets a thrill through her fingertips,
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop) yeah, she say ya do. (Bop shuop)
<p>Well, I talk about boys,
<br>Don't ya know I mean boys,
<br>Well, I talk about boys, now,
<br>Aaahhh, boys,
<br>Well, I talk about boys, now,
<br>What a bundle of joy! (Alright, George!)
<p>My girl says when I kiss her lips,
<br>Gets a thrill through her fingertips,
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop, m'bop bop shuop)
<br>Hey, hey, (bop shuop) yeah, she say ya do. (Bop shuop)
<p>Well, I talk about boys,
<br>Don't ya know I mean boys,
<br>Well, I talk about boys, now,
<br>Aaahhh, boys,
<br>Well, I talk about boys, now,
<br>What a bundle of joy!
<br>&nbsp;
<br>&nbsp;
<p><a NAME="AskMeWhy"></a><b><font size=+1>Ask Me Why</font></b>
<br><i>(Writer: Lennon, McCartney; lead vocal: Lennon)</i>
<br>&nbsp;
<p>I love you, 'cause you tell me things I want to know.
<br>And it's true that it really only goes to show,
<br>That I know,
<br>That I, I, I, I should never, never, never be blue.
<p>Now you're mine, my happiness still makes me cry.
<br>And in time, you'll understand the reason why,
<br>If I cry,
<br>It's not because I'm sad, but you're the only love that I've ever had.
<p>I can't believe it's happened to me
<br>I can't conceive of any more misery.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.
<p>I love you, 'cause you tell me things I want to know.
<br>And it's true that it really only goes to show,
<br>That I know,
<br>That I, I, I, I should never, never, never be blue.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.
<p>I can't believe it's happened to me.
<br>I can't conceive of any more misery.
<p>Ask me why, I'll say I love you,
<br>And I'm always thinking of you.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="PleasePleaseMe"></a><b><font size=+1>Please Please Me</font></b>
<br><i>(Writer, lead vocal: John Lennon)</i>
<br>&nbsp;
<p>Last night I said these words to my girl,
<br>I know you never even try, girl,
<br>Come on, come on, come on, come on
<br>Come on, come on, come on, come on
<br>Please please me, whoa yeah, like I please you.
<p>You don't need me to show the way, love.
<br>Why do I always have to say love,
<br>Come on, come on, come on, come on
<br>Come on, come on, come on, come on
<br>Please please me, whoa yeah, like I please you.
<p>I don't wanna sound complainin',
<br>But you know there's always rain in my heart (in my heart).
<br>I do all the pleasin' with you, it's so hard to reason
<br>With you, whoah yeah, why do you make me blue.
<p>Last night I said these words to my girl,
<br>I know you never even try, girl,
<br>Come on, come on, come on, come on
<br>Come on, come on, come on, come on
<br>Please please me, whoa yeah, like I please you.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="LoveMeDo"></a><b><font size=+1>Love Me Do</font></b>
<br><i>(Writers, lead vocals: Lennon, McCartney)</i>
<br>&nbsp;
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Someone to love,
<br>Somebody new.
<br>Someone to love,
<br>Someone like you.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<p>Love, love me do.
<br>You know I love you,
<br>I'll always be true,
<br>So please, love me do.
<br>Whoa, love me do.
<br>Yeah, love me do.
<br>Whoa, oh, love me do.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="P.S.ILoveYou"></a><b><font size=+1>P.S. I Love You</font></b>
<br><i>(Writers, lead vocals: Lennon, McCartney)</i>
<br>&nbsp;
<p>As I write this letter,
<br>Send my love to you,
<br>Remember that I'll always,
<br>Be in love with you.
<p>Treasure these few words 'till we're together,
<br>Keep all my love forever,
<br>P.S., I love you.
<br>You, you, you.
<p>I'll be coming home again to you, love,
<br>And 'till the day I do, love,
<br>P.S., I love you.
<br>You, you, you.
<p>As I write this letter,
<br>Send my love to you,
<br>Remember that I'll always,
<br>Be in love with you.
<p>Treasure these few words 'till we're together,
<br>Keep all my love forever,
<br>P.S., I love you.
<br>You, you, you.
<p>As I write this letter, (Oh oh oh)
<br>Send my love to you, (You know I want you to)
<br>Remember that I'll always, (Yeah)
<br>Be in love with you.
<p>I'll be coming home again to you, love,
<br>And 'till the day I do, love,
<br>P.S., I love you.
<br>You, you, you.
<br>You, you, you.
<br>I love you.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="BabyIt'sYou"></a><b><font size=+1>Baby It's You</font></b>
<br><i>(Writer: Hal David, Barney Williams, Bert Bacharach; lead vocal:
John Lennon)</i>
<br>&nbsp;
<p>Sha la la la la la la la
<br>Sha la la la la la la la
<br>Sha la la la la la la la
<br>Sha la la la la
<p>It's not the way you smile that touched my heart. (sha la la la la)
<br>It's not the way you kiss that tears me apart.
<p>Uh, oh, many, many, many nights go by,
<br>I sit alone at home and I cry over you.
<br>What can I do.
<br>Can't help myself, 'cause baby, it's you.
<br>Baby, it's you.
<p>You should hear what they say about you, cheat, cheat.
<br>They say, they say you never never never ever been true.
<br>(cheat cheat)
<p>Uh oh,
<br>It doesn't matter what they say,
<br>I know I'm gonna love you any old way.
<br>What can I do, and it's true.
<br>Don't want nobody, nobody, 'cause baby, it's you. (sha la la la la
la la)
<br>Baby, it's you. (sha la la la la la la)
<p>Uh oh,
<br>It doesn't matter what they say,
<br>I know I'm gonna love you any old way.
<br>What can I do, when it's true.
<br>Don't want nobody, nobody, 'cause baby, it's you. (sha la la la la
la la)
<br>Baby, it's you. (sha la la la la la la)
<br>Don't leave me all alone...
<br>&nbsp;
<br>&nbsp;
<p><a NAME="DoYouWantToKnowASecret"></a><b><font size=+1>Do You Want to
Know a Secret ?</font></b>
<br><i>(Writer: John Lennon; lead vocal: George Harrison)</i>
<br>&nbsp;
<p>You'll never know how much I really love you.
<br>You'll never know how much I really care.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.
<p>I've known the secret for a week or two,
<br>Nobody knows, just we two.
<p>Listen,
<br>Do you want to know a secret,
<br>Do you promise not to tell, whoa oh, oh.
<p>Closer,
<br>Let me whisper in your ear,
<br>Say the words you long to hear,
<br>I'm in love with you.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="ATasteOfHoney"></a><b><font size=+1>A Taste of Honey</font></b>
<br><i>(Writer: Bobby Scott, Ric Marlow; lead vocal: Paul McCartney)</i>
<br>&nbsp;
<p>A taste of honey... tasting much sweeter than wine.
<p>I dream of your first kiss, and then,
<br>I feel upon my lips again,
<br>A taste of honey... tasting much sweeter than wine.
<p>I will return, yes I will return,
<br>I'll come back for the honey and you.
<p>Yours was the kiss that awoke my heart,
<br>There lingers still, 'though we're far apart,
<br>That taste of honey... tasting much sweeter than wine.
<p>I will return, yes I will return,
<br>I'll come back (he'll come back) for the honey (for the honey) and
you.
<br>&nbsp;
<br>&nbsp;
<p><a NAME="There'sAPlace"></a><b><font size=+1>There's a Place</font></b>
<br><i>(Writer, lead vocal: John Lennon)</i>
<br>&nbsp;
<p>There is a place,
<br>Where I can go,
<br>When I feel low,
<br>When I feel blue.
<br>And it's my mind,
<br>And there's no time when I'm alone.
<p>I think of you,
<br>And things you do,
<br>Go 'round my head,
<br>The things you said,
<br>Like "I love only you."
<p>In my mind there's no sorrow,
<br>Don't you know that it's so.
<br>There'll be no sad tomorrow,
<br>Don't you know that it's so.
<p>There is a place,
<br>Where I can go,
<br>When I feel low,
<br>When I feel blue.
<br>And it's my mind,
<br>And there's no time when I'm alone.
<p>There's a place...
<br>&nbsp;
<br>&nbsp;
<p><a NAME="TwistAndShout"></a><b><font size=+1>Twist and Shout</font></b>
<br><i>(Writer: Phil Medley, Bert Russell; lead vocal: John Lennon)</i>
<br>&nbsp;
<p>Well, shake it up, baby, now, (shake it up, baby)
<br>Twist and shout. (twist and shout)
<br>C'mon c'mon, c'mon, c'mon, baby, now, (come on baby)
<br>Come on and work it on out. (work it on out)
<p>Well, work it on out, honey. (work it on out)
<br>You know you look so good. (look so good)
<br>You know you got me goin', now, (got me goin')
<br>Just like I knew you would. (like I knew you would)
<p>Well, shake it up, baby, now, (shake it up, baby)
<br>Twist and shout. (twist and shout)
<br>C'mon, c'mon, c'mon, c'mon, baby, now, (come on baby)
<br>Come on and work it on out. (work it on out)
<p>You know you twist your little girl, (twist, little girl)
<br>You know you twist so fine. (twist so fine)
<br>Come on and twist a little closer, now, (twist a little closer)
<br>And let me know that you're mine. (let me know you're mine)
<p>Well, shake it up, baby, now, (shake it up, baby)
<br>Twist and shout. (twist and shout)
<br>C'mon, c'mon, c'mon, c'mon, baby, now, (come on baby)
<br>Come on and work it on out. (work it on out)
<p>You know you twist your little girl, (twist, little girl)
<br>You know you twist so fine. (twist so fine)
<br>Come on and twist a little closer, now, (twist a little closer)
<br>And let me know that you're mine. (let me know you're mine)
<p>Well, shake it, shake it, shake it, baby, now. (shake it up baby)
<br>Well, shake it, shake it, shake it, baby, now. (shake it up baby)
