<div class="container col-sm-12 about">
    <p>
        With respect to copyright owners and my love to The Beatles, this site was developed for testing purpose only for new web technologies such as Single Page Application (SPA) with AngularJS framework and responsive web design (mobile-first) with Bootstrap.<br>
        I use this site to fine-tune some aspects of SPA, data handling, and responsive layout.<br><br>
        Sergiy Dagayev.
    </p>    

    <div class="road"></div>

</div>

<script>
    document.getElementById("menuAbout").focus();   // to make current menu item selected after page reload 
    
    // animation
    var width = window.innerWidth;
    TweenMax.fromTo([".road"], width/10, {left:-100}, {left: width, delay:0, repeat:-1, repeatDelay:0, ease:Linear.easeNone});

</script>
