<!-- Page Content -->

<div class="container">


    <!-- Service Images -->

    <div class="row">


        <div class="col-sm-4">
            <img class="img-responsive" src="albums/PleasePleaseMe.jpg">
            <h4>Please Please Me</h4>
            <h4>22 March 1963</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/WithTheBeatles.jpg">
            <h4>With The Beatles</h4>
            <h4>22 November 1963</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/HardDay'sNight.jpg">
            <h4>A Hard Day's Night</h4>
            <h4>26 June 1964</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/BeatlesForSale.jpg">
            <h4>Beatles For Sale</h4>
            <h4>4 December 1964</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/Help.jpg">
            <h4>Help!</h4>
            <h4>6 August 1965</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/RubberSoul.jpg">
            <h4>Rubber Soul</h4>
            <h4>3 December 1965</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/Revolver.jpg">
            <h4>Revolver</h4>
            <h4>5 August 1966</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/Sgt.Pepper'sLonelyHeartsClubBand.jpg">
            <h4>Sgt. Pepper's Lonely Hearts Club Band</h4>
            <h4>1 June 1967</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/MagicalMysteryTour.jpg">
            <h4>Magical Mystery Tour</h4>
            <h4>27 November 1967</h4>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="albums/TheBeatles.jpg">
            <h4>The Beatles</h4>
            <h4>22 November 1968</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/YellowSubmarine.jpg">
            <h4>Yellow Submarine</h4>
            <h4>17 January 1969</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/AbbeyRoad.jpg">
            <h4>Abbey Road</h4>
            <h4>26 September 1969</h4>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="albums/LetItBe.jpg">
            <h4>Let It Be</h4>
            <h4>8 May 1970</h4>
        </div>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    document.getElementById("menuAlbums").focus();
</script>
