<br>
<br>
<br>
<h2 class="bio">Ringo Starr<a href="" ng-click="gotoAnchor('top')"><span class="glyphicon glyphicon-chevron-up arrowUp" aria-hidden="true"></a></h2>
<h4 class="years">born 7 July 1940</h4>

<div class="photo">
  <img src="images/photo/ringo.jpg" class="img-thumbnail" alt="Ringo Starr" width="320" height="400"> 
</div>

<p>
	Born Richard Starkey on July 7, 1940, in Liverpool, England, Ringo Starr, known for his easy-going personality, rose to fame in the early 1960s as a member of the legendary rock group the Beatles. Known for his role as drummer, Starr also sang and wrote songs for the group, singing "With a Little Help from My Friends" and writing "Octopus's Garden."
</p>

<h3>
	Early Life
</h3>

<p>
	Musician, singer, songwriter and actor Ringo Starr was born Richard Starkey on July 7, 1940, in Liverpool, England. Known for his easy-going personality, Starr first rose to fame in the early 1960s as the drummer for the legendary rock group the Beatles. He grew up poor in Liverpool, and his father left the family when Starr was only three. A sickly child, he missed a lot of school on account of his illnesses. Starr eventually dropped out as a teenager.

	Starr started his musical career playing percussion in a skiffle band, or a band that used common objects instead of regular instruments. His stepfather supported his interest in music and reportedly bought him a drum kit. Learning the drums, Starr went on to join a popular local band Rory Storm and the Hurricanes in the late 1950s. He took his nickname—Ringo—was given to him because of the rings he wore—as part of his stage name around this time. And his drum solos for the group were called "Starr-time."
</p>

<h3>
	The Beatles
</h3>

<p>
	Starr met the members of another Liverpool group, the Beatles, while both groups were playing in Hamburg, Germany, in 1960. Two years later, he was asked to join the Beatles to replace their current drummer Pete Best. Starr was soon on the fast track to success with his new bandmates Paul McCartney, John Lennon and George Harrison.

	Guided in the studio by producer George Martin, the Beatles recorded their first single, "Love Me Do/P.S. I Love You," in 1962. While that song did okay, their next single "Please Please Me" made the group a pop sensation in England. Their first album together, Please Please Me (1963), added fuel to already growing frenzy that would soon become known as Beatlemania. Starr made a rare appearance on lead vocals for the song "Boys" on the album.

	With their floppy hair and matching suits, the Beatles crossed the Atlantic Ocean to launch their own pop invasion of America in 1964. Beatlemania was in full force during their first U.S. television appearance on The Ed Sullivan Show. Their single, "I Want to Hold Your Hand," had already climbed to the top of the charts before the taping and was followed by a succession of hits. And throngs of screaming fans—many of which were love-struck teenagers—filled the audiences of their live shows.

	That same year, the Beatles took their music to the big screen with the humorous documentary film A Hard Day's Night (1964). For their next film venture, Help! (1965), Starr provided the vocals for "Act Naturally." Both projects gave Starr's comedic and acting talents to shine through.
</p>

<h3>
	The Band Breaks Up
</h3>

<p>
	While Lennon and McCartney were widely praised for their songwriting talents, Starr's contributions were not as readily acknowledged. He was known for his strong drumming talents, but he also assisted in the group's creative process and provided some of its emotional stability and good humor. Unlike past drummers who remained firmly in the background, Starr was seen an equal part of the Fab Four. His influence would later be seen on future generations of drummers.

	In 1966, the Beatles stopped touring, giving their last concert in August at San Francisco’s Candlestick Park. They continued to record together, taking their music in new directions. They created one of rock's first concept albums with Sgt. Pepper's Lonely Hearts Club Band (1967), which was meant to be listened to in its entirety. Other commercial and critical successes, included The Beatles (often referred to as The White Album) (1968), to which Starr contributed the track "Don't Pass Me By."

	By this time, personal and creative tensions began to erode the group. Starr spent some time on other projects, starring in the film The Magic Christian (1969) with Peter Sellars. They played their last gig together on top of the Apple Corps, Ltd building in London, in January 1969, which was filmed for the film Let It Be (1970). In April 1970, the Beatles ended with Paul McCartney's announcement that he was leaving the group. One of the most successful groups in popular music finished their run with more than 45 top 40 hits in the United States alone—and leaving an incalculable impression on millions of fans worldwide.
</p>
