<div class="container" ng-controller="SongController">

	<div class="col-sm-12">
	    <p> 
	    	<span>order by:</span>
			<div class="btn-group"> 
	        	<label class="btn btn-success" ng-model="radioModel" btn-radio="'left'" ng-click="order('num')" uncheckable>ALBUMS</label>
	        	<label class="btn btn-success" ng-model="radioModel" btn-radio="'right'" ng-click="order('name')" uncheckable>NAME</label>
	    	</div>
    	</p>

		<p>
			<span>search by name:</span>
			<div class="search"> 
				<input ng-model="searchText" ng-change="search(searchText)" type="text">
	    	</div>
    	</p>
	    <table>
	    	<!-- AngularJS does not allow duplicates (Yellow Submarine) in ng-repeat directive. 
	    	Define an index to determine uniqueness -->
	      	<!-- <tr ng-repeat="song in all | orderBy: 'toString()' track by $index"> --> 
	      	<tr ng-repeat="song in resultList track by $index"> 
	        	<td class="numberedList">{{$index+1}}.</td>
	        	<td><a class="songList" ng-click="setSong(song.id)">{{song.name}}</a></td>
	      	</tr>

	    </table>

	</div>
</div>

<script>
    document.getElementById("menuSongs").focus();
</script>
