<br>
<br>
<br>
<h2 class="bio">Paul McCartney<a href="" ng-click="gotoTop()"><span class="glyphicon glyphicon-chevron-up arrowUp" aria-hidden="true"></a></h2>
<h4 class="years">born 18 June 1942</h4>

<div class="photo">
  <img src="images/photo/paul.jpg" class="img-thumbnail" alt="Paul McCartney" width="320" height="400"> 
</div>

<p>
  Paul McCartney was born June 18, 1942, in Liverpool, England. His work with the Beatles in the 1960s helped lift popular music from its origins in the entertainment business and transform it into a creative, highly commercial art form. He is also one of the most popular solo performers of all time in terms of both sales of his recordings and attendance at his concerts.
</p>

<h3>
Early Life
</h3>

<p>
  Sir James Paul McCartney was born on June 18, 1942, in Liverpool, England, to Mary and James McCartney. His mother was a maternity nurse, and his father a cotton salesman and jazz pianist with a local band. The young McCartney was raised in a traditional working-class family, much the same as his future fellow Beatles Ringo Starr and George Harrison. Tragically, when McCartney was only 14 years old, his mother died of complications after a mastectomy. His future bandmate, John Lennon, also lost his mother at a young age—a connection that McCartney would later point to as the start of a close bond between the two musicians.

  Encouraged by his father to try out multiple musical instruments, Paul McCartney began his lifelong love affair with music at an early age. Though he took formal music lessons as a boy, the future star preferred to learn by ear, teaching himself the Spanish guitar, trumpet and piano. In 1957, the teenaged musician met John Lennon at a church festival where both young men were performing. Sensing an early affinity, McCartney joined Lennon's band, the Quarrymen. The two quickly became the group's songwriters, ushering it through many name changes and a few personnel changes as well.
</p>  

<h3>
  The Beatles
</h3>  

<p>
  By 1960, the group had settled on a new moniker, the Beatles, and George Harrison, Stuart Sutcliffe and Pete Best rounded out the group. The soon-to-be legendary "mod squad" started out in the 1960s in Hamburg, Germany, spending two years playing various nightclubs there. Sutcliffe soon left the band, leaving McCartney to pick up the slack as the group's bass player. While in Hamburg, the Beatles recorded their first tracks, garnering the attention of Brian Epstein, who quickly signed on as the band's manager. It wasn't long before the Beatles headed back to their home country and began working their way into the popular consciousness there. And Best's replacement by drummer Ringo Starr only helped the group gain steam.

  The impact that the Beatles would ultimately have on '60s popular culture is hard to overstate. "Beatlemania" soon gripped the world, and when the group made their debut in America, the media dubbed the period of musical crossover between the two nations the "British Invasion." Little could they know at the time, this era would truly have a lasting impact on rock 'n' roll.

  During a decade full of political and social strife, the Beatles expressed the broader hopes of their contemporaries for peace, love and rock 'n' roll. McCartney in particular would write more hits for the band than any other member. Songs like "Yesterday," "Hey Jude," "Let It Be," "Yellow Submarine" and "Hello, Goodbye" would provide the soundtrack for a generation. From 1962 to '70, the group released 12 hit studio albums, touring almost constantly, before disbanding.
</p>

<h3>
  Solo Career
</h3>

<p>
  The Beatles disbanded in 1970, breaking fans' hearts worldwide. However, McCartney had no intention of dropping out of the public eye. He was the first of the Beatles to release a solo album (McCartney, 1970), and though critics' reactions were mixed, the album was a hit with the public. Encouraged, McCartney went on to form Wings, a band that would remain popular throughout the '70s, winning two Grammy Awards and churning out multiple hit singles.

  In 1969, McCartney married Linda Eastman, an American photographer who would serve as her husband's muse for the next 30 years. The family had four children: Heather (Linda's daughter from a previous marriage), Mary, Stella and James.

  The 1980s proved a trying time for McCartney. An arrest for marijuana possession in Japan in 1980 was followed shortly by the devastating assassination of his longtime partner and friend, John Lennon. In the wake of Lennon's death, McCartney stopped touring until 1989. He continued to play and record new music, however, collaborating with the likes of Stevie Wonder and Michael Jackson. In the '90s, McCartney worked with former bandmates Harrison and Starr on The Beatles Anthology documentary series.

  In 2012, McCartney released Kisses on the Bottom, which featured renditions of some of his favorite songs from childhood, including classics like "It's Only a Paper Moon" and "My Valentine." McCartney made headlines later that year, after performing with fellow rocker Bruce Springsteen at London's Hyde Park. The two legendary rock musicians even performed two Beatles hits together: "I Saw Her Standing There" and "Twist and Shout." Unfortunately, this impressive live jam was cut short by the authorities: When the concert exceeded its scheduled end time, both Springsteen's and McCartney's microphones were turned off by event organizers.

  More recently, McCartney signed on to headline the 2013 Bonnaroo Music & Arts Festival, a four-day event held annually in Manchester, Tennessee. Other performers named to the event's lineup include Tom Petty, Billy Idol, John Oates of Hall & Oates, Jeff Tweedy and Björk.

  McCartney is inarguably pop music royalty. For his contributions to global rock 'n' roll culture, he has been knighted, named a fellow at the Royal College of Music, and inducted into the Rock and Roll Hall of Fame, among various other honors.
</p>

<h3>
  Personal Life
</h3>

<p>
  Tragedy struck in 1998, when McCartney's wife of 29 years, Linda McCartney, died after a long battle with cancer. Four years later, the musician married Heather Mills, a former model and anti-landmine activist. They welcomed a daughter, Beatrice, in 2003. Amid much press scrutiny and intense animosity, McCartney and Mills parted ways in 2006. He married for the third time, to New York businesswoman Nancy Shevell, in October 2011, in London.

  McCartney's interests extend far beyond music; the former Beatle has made successful forays into film, writing, painting, meditation and activism. Despite his many business ventures and interests, the most prolific Beatle, now in his 70s, continues to tour and sell out massive arenas, and isn't showing any signs of slowing down. When asked about his retirement plans, McCartney replied, in typical fashion, "Why would I retire? Sit at home and watch TV? No thanks. I'd rather be out playing."
</p>
